dashboards/cones.json
[{"id":"8af47fd9.7f7ff","type":"tab","label":"LIGHT_CONES","disabled":false,"info":""},{"id":"282714d8.54eb4c","type":"debug","z":"8af47fd9.7f7ff","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":320,"wires":[]},{"id":"b7533585.f63fd8","type":"mqtt in","z":"8af47fd9.7f7ff","name":"","topic":"light/CONE/detection","qos":"0","datatype":"auto","broker":"6ff00cb9.634ae4","x":210,"y":440,"wires":[["282714d8.54eb4c","e0ab467a.bf6328"]]},{"id":"81b5b6e5.1156d8","type":"mqtt out","z":"8af47fd9.7f7ff","name":"","topic":"light/CONE/stop","qos":"0","retain":"false","broker":"6ff00cb9.634ae4","x":840,"y":640,"wires":[]},{"id":"e3c5adaa.62a58","type":"inject","z":"8af47fd9.7f7ff","name":"STOP","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":190,"y":640,"wires":[["81b5b6e5.1156d8"]]},{"id":"b3e9bfa3.7f421","type":"comment","z":"8af47fd9.7f7ff","name":"STOP","info":"Send MQTT message to the python script to finsih the runnig","x":170,"y":240,"wires":[]},{"id":"fb3d2156.26f9a","type":"comment","z":"8af47fd9.7f7ff","name":"RUN","info":"","x":170,"y":140,"wires":[]},{"id":"794eb863.bab6c8","type":"comment","z":"8af47fd9.7f7ff","name":"GET RESULTS","info":"","x":200,"y":400,"wires":[]},{"id":"10361fd4.20b95","type":"exec","z":"8af47fd9.7f7ff","command":"cd /home/eugeni/Desktop/SmartScooter/prediction/CONE/ &&","addpay":false,"append":"python3 cones.py","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":180,"wires":[["282714d8.54eb4c"],["282714d8.54eb4c"],["282714d8.54eb4c"]]},{"id":"6a790de.aa8b1f4","type":"ui_gauge","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","order":19,"width":11,"height":5,"gtype":"gage","title":"Speed","label":"km/h","format":"{{msg.speed}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"20","x":830,"y":700,"wires":[]},{"id":"7c33fde7.94bd94","type":"inject","z":"8af47fd9.7f7ff","name":"SPEED","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"num","x":180,"y":700,"wires":[["b9b7e47a.42cb48"]]},{"id":"96a0b881.a15728","type":"change","z":"8af47fd9.7f7ff","name":"","rules":[{"t":"set","p":"speed","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":700,"wires":[["6a790de.aa8b1f4"]]},{"id":"753e792b.4f94c8","type":"function","z":"8af47fd9.7f7ff","name":"SETUP","func":"msg.speed = parseInt(msg.speed)\nvar now=new Date()\nvar then= global.get(\"last_mod\")||new Date()\n\nif (msg.speed===30 && now-then>5000){\n    return msg;\n}\nelse if (msg.speed===0 || msg.speed===5){\n    global.set(\"last_mod\",now)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":760,"wires":[["2910cd6a.5cd162","4a768bf6.17eca4"]]},{"id":"baefa9d3.a6c768","type":"ui_text","z":"8af47fd9.7f7ff","group":"acbacb51.bd8f38","order":5,"width":5,"height":2,"name":"","label":"DISTANCE","format":"{{msg.dist}}","layout":"col-center","x":730,"y":460,"wires":[]},{"id":"e0ab467a.bf6328","type":"function","z":"8af47fd9.7f7ff","name":"SPLIT","func":"msg.speed=msg.payload.split(\"/\")[0]\nmsg.dist=String((parseFloat(msg.payload.split(\"/\")[1])).toFixed(3))+ \"m\"\nif (isNaN(msg.payload.split(\"/\")[1] )){\n    msg.dist=global.get(\"distance\")|| \"Not yet\"\n}\nelse{\n    global.set(\"distance\",msg.dist)\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["baefa9d3.a6c768","753e792b.4f94c8","7421fda6.696384"]]},{"id":"2910cd6a.5cd162","type":"ui_gauge","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","order":8,"width":11,"height":5,"gtype":"gage","title":"Max Speed","label":"km/h","format":"{{msg.speed}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":740,"wires":[]},{"id":"73795113.b4973","type":"function","z":"8af47fd9.7f7ff","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer x';\nmsg.headers['Vehicle'] = 'x';\nmsg.url=\"https://api.reby.co/v2/research/speed_limit/\"+String(msg.speed)\nvar speed=global.get(\"max_speed\")\nif (msg.speed!=speed){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":900,"wires":[["272dcdb4.cde192"]]},{"id":"272dcdb4.cde192","type":"http request","z":"8af47fd9.7f7ff","name":"REBY POST","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":900,"wires":[["840b1955.bfe948"]]},{"id":"53ed3eb6.73fdf","type":"ui_audio","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","voice":"en-GB","always":"","x":1100,"y":780,"wires":[]},{"id":"4a768bf6.17eca4","type":"function","z":"8af47fd9.7f7ff","name":"SETUP","func":"var speed=global.get(\"max_speed\")||0\nvar repeat=global.get(\"repeat\")||0\nif (msg.speed!=speed){\n    global.set(\"repeat\",0)\n    global.set(\"max_speed\",msg.speed)\n}    \nelse if(repeat===3){    \n    if (msg.speed===5){\n    msg.payload=\"Be careful!\"\n    }\n    else if (msg.speed===0){\n        msg.payload=\"STOP!\"\n    }\n    else{\n        msg.payload=\"All good\"\n    }\n    global.set(\"repeat\",repeat+1)\n    return msg;\n}\nelse{\n    global.set(\"repeat\",repeat+1)\n}\n\n\n","outputs":1,"noerr":0,"x":740,"y":780,"wires":[["53ed3eb6.73fdf","73795113.b4973"]]},{"id":"3b5df117.96796e","type":"inject","z":"8af47fd9.7f7ff","name":"Reset","repeat":"3","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"true","payloadType":"bool","x":900,"y":840,"wires":[["255df6a3.e3ed8a"]]},{"id":"255df6a3.e3ed8a","type":"change","z":"8af47fd9.7f7ff","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":840,"wires":[["53ed3eb6.73fdf"]]},{"id":"52124b1f.250934","type":"debug","z":"8af47fd9.7f7ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":900,"wires":[]},{"id":"840b1955.bfe948","type":"json","z":"8af47fd9.7f7ff","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":900,"wires":[["52124b1f.250934"]]},{"id":"c4dc1a02.c05dd8","type":"http request","z":"8af47fd9.7f7ff","name":"REBY POST","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":820,"wires":[["2f983d40.10e152"]]},{"id":"b9b7e47a.42cb48","type":"function","z":"8af47fd9.7f7ff","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer x';\nmsg.headers['Vehicle'] = 'x';\nmsg.url=\"https://api.reby.co/v2/research/status/\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":780,"wires":[["c4dc1a02.c05dd8"]]},{"id":"20c8159b.5616ba","type":"change","z":"8af47fd9.7f7ff","name":"","rules":[{"t":"set","p":"speed","pt":"msg","to":"payload.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":740,"wires":[["6a790de.aa8b1f4"]]},{"id":"2f983d40.10e152","type":"json","z":"8af47fd9.7f7ff","name":"","property":"payload","action":"","pretty":false,"x":210,"y":860,"wires":[["20c8159b.5616ba"]]},{"id":"fedf0c0e.af1e4","type":"ui_slider","z":"8af47fd9.7f7ff","name":"","label":"DISTANCE","tooltip":"","group":"acbacb51.bd8f38","order":6,"width":13,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"15","step":"0.5","x":910,"y":500,"wires":[[]]},{"id":"7421fda6.696384","type":"change","z":"8af47fd9.7f7ff","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dist","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["fedf0c0e.af1e4"]]},{"id":"f71f6991.17ba88","type":"ui_button","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","order":1,"width":0,"height":0,"passthru":false,"label":"RESET VARIABLES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":540,"wires":[["9ad1e471.c316b8"]]},{"id":"9ad1e471.c316b8","type":"change","z":"8af47fd9.7f7ff","name":"","rules":[{"t":"set","p":"repeat","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":540,"wires":[[]]},{"id":"639ab770.8fc758","type":"comment","z":"8af47fd9.7f7ff","name":"","info":"1. lineas si diferencia entre el costado detectado inferior es menor a 20 pixels respecto el cono inferior\n2. sino, y tambien tenemos conos detectados, estaremos en random\n3. Y sino nada, 30km/h\n4. Para validar una situación necesitamos almenos 3 frames seguidos con el mismo resultado.\n5. Pero si el resultado es=30km/h (nada) nos esperamos 7 segundos des de la ultima deteccion de cono.","x":900,"y":80,"wires":[]},{"id":"34abbc9e.fdd2a4","type":"ui_button","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","order":2,"width":4,"height":3,"passthru":false,"label":"<i class=\"fa fa-flash fa-5x\"></i> ","tooltip":"","color":"black","bgcolor":"white","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":180,"wires":[["10361fd4.20b95"]]},{"id":"a56aa302.f12da","type":"ui_button","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","order":4,"width":4,"height":3,"passthru":false,"label":"<i class=\"fa fa-stop fa-5x\"></i> ","tooltip":"","color":"black","bgcolor":"white","icon":"","payload":"stop","payloadType":"str","topic":"","x":130,"y":320,"wires":[["81b5b6e5.1156d8"]]},{"id":"6ff00cb9.634ae4","type":"mqtt-broker","name":"prueba","broker":"localhost","port":"1883","clientid":"clientId-wn07IVoIs8","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"acbacb51.bd8f38","type":"ui_group","name":"RUN-STOP","tab":"266fa4e0.06c9cc","order":1,"disp":false,"width":"13","collapse":false},{"id":"266fa4e0.06c9cc","type":"ui_tab","name":"CONE_INFERENCE","icon":"warning","order":4,"disabled":false,"hidden":false}]