dashboards/helmet_leds.json
[{"id":"1710f1c2.5ffeae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3206960b.61112a","type":"mqtt out","z":"1710f1c2.5ffeae","name":"","topic":"","qos":"","retain":"","broker":"d2d521ac.704788","x":410,"y":220,"wires":[]},{"id":"b5a9d43d.78d368","type":"ui_button","z":"1710f1c2.5ffeae","name":"","group":"60ecd597.cd3904","order":5,"width":3,"height":5,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"green","icon":"fa-arrow-right fa-5x","payload":"r r r r r ","payloadType":"str","topic":"illausi@gmail.com/test","x":150,"y":140,"wires":[["3206960b.61112a"]]},{"id":"7032ecb7.c71d7c","type":"ui_button","z":"1710f1c2.5ffeae","name":"","group":"60ecd597.cd3904","order":1,"width":3,"height":5,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"green","icon":"fa-arrow-left fa-5x","payload":"l l l l l ","payloadType":"str","topic":"illausi@gmail.com/test","x":150,"y":240,"wires":[["3206960b.61112a"]]},{"id":"9274d743.91bf1","type":"ui_button","z":"1710f1c2.5ffeae","name":"","group":"60ecd597.cd3904","order":3,"width":4,"height":5,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"red","icon":"fa-stop-circle fa-5x","payload":"s s s s s ","payloadType":"str","topic":"illausi@gmail.com/test","x":150,"y":340,"wires":[["3206960b.61112a"]]},{"id":"d2d521ac.704788","type":"mqtt-broker","name":"","broker":"maqiatto.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"60ecd597.cd3904","type":"ui_group","name":"Indicaciones","tab":"840117d1.49f098","order":1,"disp":true,"width":"12","collapse":false},{"id":"840117d1.49f098","type":"ui_tab","name":"Indicaciones","icon":"dashboard","disabled":false,"hidden":false}]