dashboards/home.json
[{"id":"3b8432b.9e6a6ce","type":"tab","label":"LIGHT_HOME","disabled":false,"info":""},{"id":"f91003cd.957f9","type":"http request","z":"3b8432b.9e6a6ce","name":"REBY POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":100,"wires":[["fef73784.c8fea8"]]},{"id":"457b727e.f0ff7c","type":"function","z":"3b8432b.9e6a6ce","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer x';\nmsg.headers['Vehicle'] = 'v_x';\nmsg.url=\"https://api.reby.co/v2/research/status\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":160,"wires":[["f91003cd.957f9"]]},{"id":"e69a9eb5.fcc7a","type":"debug","z":"3b8432b.9e6a6ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":160,"wires":[]},{"id":"5557f6f2.b418d8","type":"exec","z":"3b8432b.9e6a6ce","command":"google-chrome  http://127.0.0.1:1880/ui/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":240,"y":220,"wires":[[],[],[]]},{"id":"25248faa.252ab","type":"inject","z":"3b8432b.9e6a6ce","name":"","repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":170,"y":160,"wires":[["457b727e.f0ff7c"]]},{"id":"5179c91.bc05438","type":"ui_gauge","z":"3b8432b.9e6a6ce","name":"","group":"55467c50.57a5c4","order":4,"width":8,"height":4,"gtype":"donut","title":"BATTERY","label":"units","format":"{{payload.battery_level}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":200,"wires":[]},{"id":"d2de0131.306e8","type":"ui_gauge","z":"3b8432b.9e6a6ce","name":"","group":"55467c50.57a5c4","order":5,"width":8,"height":4,"gtype":"gage","title":"SPEED","label":"units","format":"{{payload.speed}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":240,"wires":[]},{"id":"43305140.dfd56","type":"ui_worldmap","z":"3b8432b.9e6a6ce","group":"55467c50.57a5c4","order":6,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":1040,"y":80,"wires":[]},{"id":"4dcd8568.fa6cec","type":"function","z":"3b8432b.9e6a6ce","name":"","func":"msg.payload = {command:{lat:global.get(\"status.location.latitude\"), lon:global.get(\"status.location.longitude\"), zoom:16}};\nnode.send(msg)\nmsg.payload={}\nmsg.payload.name=\"SCOOTER_ETSEIB\"\nmsg.payload.lat=global.get(\"status.location.latitude\")\nmsg.payload.lon=global.get(\"status.location.longitude\")\nmsg.payload.icon=\"fa-user-circle\"\nnode.send(msg);","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["43305140.dfd56"]]},{"id":"9a295cc4.527ce","type":"ui_template","z":"3b8432b.9e6a6ce","group":"55467c50.57a5c4","name":"","order":1,"width":9,"height":4,"format":"<img ng-src=\"https://frm.eic.cat/se/img/logo-ETSEIB-UPC.png\" height=\"40%\" width=\"40%\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":280,"wires":[[]]},{"id":"fef73784.c8fea8","type":"json","z":"3b8432b.9e6a6ce","name":"","property":"payload","action":"","pretty":false,"x":470,"y":100,"wires":[["747a1377.f1554c"]]},{"id":"747a1377.f1554c","type":"change","z":"3b8432b.9e6a6ce","name":"","rules":[{"t":"set","p":"status","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":100,"wires":[["4dcd8568.fa6cec","e69a9eb5.fcc7a","5179c91.bc05438","d2de0131.306e8"]]},{"id":"2310c7ed.5387c8","type":"ui_template","z":"3b8432b.9e6a6ce","group":"55467c50.57a5c4","name":"","order":2,"width":7,"height":4,"format":"<img ng-src=\"http://www.smartmotochallenge.org/images/bsmc/motosport/cssclogo2.png\" height=\"50%\" width=\"50%\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":320,"wires":[[]]},{"id":"55467c50.57a5c4","type":"ui_group","name":"REBY_CONTROL","tab":"76641b4d.54d164","order":2,"disp":false,"width":"16","collapse":false},{"id":"76641b4d.54d164","type":"ui_tab","name":"HOME","icon":"home","order":1,"disabled":false,"hidden":false}]