dashboards/traffic_lights.json
[{"id":"25f51323.73121c","type":"tab","label":"LIGHT_TRAFFIC LIGHTS","disabled":false,"info":""},{"id":"2ed37b59.4eb174","type":"exec","z":"25f51323.73121c","command":"cd /home/eugeni/Desktop/SmartScooter/prediction/TRAFFIC_LIGHT/ &&","addpay":false,"append":"python3 video_detection.py","useSpawn":"false","timer":"","oldrc":false,"name":"","x":640,"y":140,"wires":[["e907caf7.3ed028"],["e907caf7.3ed028"],["e907caf7.3ed028"]]},{"id":"e907caf7.3ed028","type":"debug","z":"25f51323.73121c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":280,"wires":[]},{"id":"509f5773.8bcdf8","type":"ui_button","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","order":3,"width":3,"height":2,"passthru":false,"label":"<i class=\"fa fa-flash fa-5x\"></i> ","tooltip":"","color":"black","bgcolor":"white","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":140,"wires":[["2ed37b59.4eb174"]]},{"id":"80c8ffb0.fb717","type":"ui_text","z":"25f51323.73121c","group":"780adb4c.e1f2d4","order":5,"width":5,"height":2,"name":"","label":"CONFIDENCE <i class=\"fa fa-percent\"></i> ","format":"{{msg.confidence}}","layout":"col-center","x":870,"y":400,"wires":[]},{"id":"6c556071.bf5a1","type":"mqtt in","z":"25f51323.73121c","name":"","topic":"light/TL/detection","qos":"0","datatype":"auto","broker":"6ff00cb9.634ae4","x":120,"y":400,"wires":[["e907caf7.3ed028","63e9ad89.5a7fe4"]]},{"id":"ace9ee0c.b28b9","type":"mqtt out","z":"25f51323.73121c","name":"","topic":"light/TL/stop","qos":"0","retain":"false","broker":"6ff00cb9.634ae4","x":770,"y":620,"wires":[]},{"id":"94f2d6.dbfb4d28","type":"inject","z":"25f51323.73121c","name":"STOP","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":110,"y":600,"wires":[["ace9ee0c.b28b9"]]},{"id":"62db5f9d.e94f9","type":"comment","z":"25f51323.73121c","name":"STOP","info":"Send MQTT message to the python script to finsih the runnig","x":110,"y":560,"wires":[]},{"id":"f201f720.aad4a8","type":"comment","z":"25f51323.73121c","name":"RUN","info":"","x":90,"y":100,"wires":[]},{"id":"6401b2e.2fb764c","type":"comment","z":"25f51323.73121c","name":"GET RESULTS","info":"","x":120,"y":360,"wires":[]},{"id":"be25470b.451a98","type":"ui_template","z":"25f51323.73121c","group":"780adb4c.e1f2d4","name":"","order":16,"width":5,"height":11,"format":"<img src={{msg.img}} alt=\"Traffic Light\" height=\"100%\" width=\"100%\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":500,"wires":[[]]},{"id":"63e9ad89.5a7fe4","type":"function","z":"25f51323.73121c","name":"DIVIDE","func":"var l=msg.payload.split(\"/\")\nmsg.confidence=String((parseFloat(l[0])*100).toFixed(3))+ \"%\"\nmsg.class=l[1]\nmsg.distance=String((parseFloat(l[2])).toFixed(3))+ \"m\"\nmsg.img=\"http://localhost:1880/Desktop/SmartScooter/prediction/TRAFFIC_LIGHT/\"+msg.class+\".png\"\n\nif (msg.class===\"red\"){msg.speed=0}\nelse if(msg.class===\"yellow\"){msg.speed=10}\nelse if(msg.class===\"green\"){msg.speed=30}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":400,"wires":[["80c8ffb0.fb717","be25470b.451a98","9e2386c9.00e038","862e5be8.d61ca8","e34cd871.4685f8"]]},{"id":"6a27886d.bcd3c8","type":"function","z":"25f51323.73121c","name":"set URL and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer x';\nmsg.headers['Vehicle'] = 'x';\nmsg.url=\"https://api.reby.co/v2/research/\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":700,"wires":[["e6c8bcfa.c1f2"]]},{"id":"e6c8bcfa.c1f2","type":"http request","z":"25f51323.73121c","name":"post to FRED","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":760,"wires":[["52a4bd04.e22b04"]]},{"id":"52a4bd04.e22b04","type":"json","z":"25f51323.73121c","name":"","property":"payload","action":"","pretty":false,"x":510,"y":760,"wires":[["b1e20b1c.e1c4d8","8a74c9e.1331238","cbbd3ebd.be70b"]]},{"id":"b1e20b1c.e1c4d8","type":"debug","z":"25f51323.73121c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":700,"wires":[]},{"id":"b9109c4a.755c3","type":"function","z":"25f51323.73121c","name":"DISTANCE CALCULATION - HAVERSINE FORMULA","func":"function toRad(Value) {\n    /** Converts numeric degrees to radians */\n    return Value * Math.PI / 180;\n}\n\nvar R = 6371e3; // metres\nvar lat2 = flow.get('latitude') || 41.385391;\nvar lon2 = flow.get('longitude') || 2.116683;\nvar φ1 = toRad(msg.payload.location.latitude);\nvar φ2 = toRad(lat2);\nvar Δφ = toRad(lat2-msg.payload.location.latitude);\nvar Δλ = toRad(lon2-msg.payload.location.longitude);\n\nvar a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +\n        Math.cos(φ1) * Math.cos(φ2) *\n        Math.sin(Δλ/2) * Math.sin(Δλ/2);\nvar c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n\nvar d = R * c;\nmsg.distance = d.toFixed(3);\nflow.set('latitude', lat2 - 0.00001);\nflow.set('longitude', lon2 - 0.00001);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":40,"wires":[[]]},{"id":"74835158.157ed","type":"inject","z":"25f51323.73121c","d":true,"name":"LOCATION","repeat":"60","crontab":"","once":true,"onceDelay":"1.5","topic":"","payload":"status","payloadType":"str","x":130,"y":700,"wires":[["6a27886d.bcd3c8"]]},{"id":"98866f31.03249","type":"ui_gauge","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","order":25,"width":9,"height":5,"gtype":"gage","title":"Speed","label":"km/h","format":"{{msg.payload}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"20","x":690,"y":980,"wires":[]},{"id":"742a9878.802998","type":"inject","z":"25f51323.73121c","name":"SPEED","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"num","x":100,"y":980,"wires":[["15b521ba.a7956e"]]},{"id":"15b521ba.a7956e","type":"change","z":"25f51323.73121c","name":"","rules":[{"t":"set","p":"speed","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":980,"wires":[[]]},{"id":"3ad1dd6b.d5b302","type":"ui_worldmap","z":"25f51323.73121c","group":"780adb4c.e1f2d4","order":31,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"19","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":440,"y":880,"wires":[]},{"id":"8a74c9e.1331238","type":"change","z":"25f51323.73121c","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"Eugeni","tot":"str"},{"t":"set","p":"lat","pt":"msg","to":"payload.location.latitude","tot":"msg"},{"t":"set","p":"lon","pt":"msg","to":"payload.location.longitude","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":880,"wires":[["254a743b.02e68c"]]},{"id":"254a743b.02e68c","type":"function","z":"25f51323.73121c","name":"SETUP","func":"msg.payload = {command:{lat:msg.lat, lon:msg.lon, zoom:14}};\nmsg.payload.name=\"Eugeni\"\nmsg.payload.lat=msg.lat\nmsg.payload.lon=msg.lon\nmsg.payload.icon=\"fa-user-circle\"\nmsg.payload.layer=\"gps\"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":880,"wires":[["3ad1dd6b.d5b302"]]},{"id":"d76b5110.32631","type":"ui_button","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","order":7,"width":3,"height":2,"passthru":false,"label":"<i class=\"fa fa-stop fa-5x\"></i> ","tooltip":"","color":"black","bgcolor":"white","icon":"","payload":"stop","payloadType":"str","topic":"","x":190,"y":640,"wires":[["ace9ee0c.b28b9"]]},{"id":"5cec2012.1441","type":"function","z":"25f51323.73121c","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer x';\nmsg.headers['Vehicle'] = 'x';\nmsg.url=\"https://api.reby.co/v2/research/speed_limit/\"+String(msg.speed)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1100,"wires":[["6bdb9020.c8a55"]]},{"id":"6bdb9020.c8a55","type":"http request","z":"25f51323.73121c","name":"REBY POST","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":1100,"wires":[["fcd9706a.7b603"]]},{"id":"e720ab98.7ead38","type":"inject","z":"25f51323.73121c","name":"SPEED","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"num","x":160,"y":1100,"wires":[["53ae323f.a4989c"]]},{"id":"53ae323f.a4989c","type":"function","z":"25f51323.73121c","name":"COMPARE TIME","func":"var speed=global.get(\"max_speed\")||0\nvar then=global.get(\"last_mod\")||new Date()\nvar now=new Date()\nif (now-then>=7000 && speed===10){\n    msg.payload=30;\n    global.set(\"max_speed\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":340,"y":1100,"wires":[["5cec2012.1441"]]},{"id":"9e2386c9.00e038","type":"function","z":"25f51323.73121c","name":"SETUP","func":"var repeat=global.get(\"repeat\")||0\nvar speed=global.get(\"max_speed\")||0\n\nif (msg.speed!==speed){\n    global.set(\"max_speed\",msg.speed)  \n    global.set(\"repeat\",0)\n    \n}\nelse if(repeat===10){\n    if (speed===10){\n        msg.payload=\"Be careful!\"\n    }\n    else if (speed===0){\n        msg.payload=\"STOP!\"\n    }\n    else if(speed===30){\n        msg.payload=\"All good\"\n    }\n    global.set(\"repeat\",repeat+1)\n    var date=new Date()\n    global.set(\"last_mod\", date )\n    return msg;//solo enviamos si reconocemos 3 semaforos seguidos iguales\n}\nelse{\n    global.set(\"repeat\",repeat+1)\n}\n\n","outputs":1,"noerr":0,"x":760,"y":940,"wires":[["49c50b41.844734","5cec2012.1441","8fe0aea9.648d","8ccae495.4aad88"]]},{"id":"49c50b41.844734","type":"ui_gauge","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","order":17,"width":9,"height":5,"gtype":"gage","title":"Max Speed","label":"km/h","format":"{{msg.speed}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":940,"wires":[]},{"id":"8fe0aea9.648d","type":"ui_audio","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","voice":"en-GB","always":"","x":980,"y":980,"wires":[]},{"id":"1b8915bc.3e1daa","type":"inject","z":"25f51323.73121c","name":"Reset","repeat":"5","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"true","payloadType":"bool","x":960,"y":1040,"wires":[["b4da7e41.b2444"]]},{"id":"b4da7e41.b2444","type":"change","z":"25f51323.73121c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1040,"wires":[["8fe0aea9.648d"]]},{"id":"fcd9706a.7b603","type":"debug","z":"25f51323.73121c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1180,"wires":[]},{"id":"862e5be8.d61ca8","type":"function","z":"25f51323.73121c","name":"DISTANCE","func":"msg.payload=msg.distance\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":460,"wires":[[]]},{"id":"c6a8269e.1ce658","type":"ui_button","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","order":1,"width":0,"height":0,"passthru":false,"label":"RESET VARIABLES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":220,"wires":[["9fc705f1.7179f8"]]},{"id":"9fc705f1.7179f8","type":"change","z":"25f51323.73121c","name":"","rules":[{"t":"set","p":"repeat","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[[]]},{"id":"8ccae495.4aad88","type":"debug","z":"25f51323.73121c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"speed","targetType":"msg","x":970,"y":860,"wires":[]},{"id":"44ba079b.1f32a8","type":"mqtt out","z":"25f51323.73121c","name":"","topic":"light/TL/speed","qos":"0","retain":"false","broker":"6ff00cb9.634ae4","x":800,"y":840,"wires":[]},{"id":"a1682e46.c8a12","type":"ui_slider","z":"25f51323.73121c","name":"","label":"SPEED-MANUALLY","tooltip":"","group":"780adb4c.e1f2d4","order":23,"width":9,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"30","step":"1","x":460,"y":960,"wires":[["98866f31.03249","8bb8ed0a.60bad"]]},{"id":"8bb8ed0a.60bad","type":"function","z":"25f51323.73121c","name":"","func":"msg.speed=msg.payload\nif (msg.payload>10){\n    msg.payload=\"fast\"\n}\nelse if(msg.payload<=10){\n    msg.payload=\"slow\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":920,"wires":[["44ba079b.1f32a8"]]},{"id":"cbbd3ebd.be70b","type":"change","z":"25f51323.73121c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":820,"wires":[["8bb8ed0a.60bad"]]},{"id":"43985bfd.12bb94","type":"ui_slider","z":"25f51323.73121c","d":true,"name":"","label":"DISTANCE","tooltip":"","group":"780adb4c.e1f2d4","order":15,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"80","step":"0.5","x":990,"y":480,"wires":[[]]},{"id":"6d7c5601.0f07e8","type":"ui_text","z":"25f51323.73121c","d":true,"group":"780adb4c.e1f2d4","order":13,"width":4,"height":1,"name":"","label":"DISTANCE","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":440,"wires":[]},{"id":"e34cd871.4685f8","type":"function","z":"25f51323.73121c","name":"To CSV","func":"msg.payload= {\"class\":msg.class , \"confidence\":msg.confidence}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":340,"wires":[["76769c59.064ff4"]]},{"id":"76769c59.064ff4","type":"csv","z":"25f51323.73121c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":920,"y":340,"wires":[["4c266cc0.e69ea4"]]},{"id":"4c266cc0.e69ea4","type":"file","z":"25f51323.73121c","name":"","filename":"/home/eugeni/Desktop/SmartScooter/TL.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1220,"y":340,"wires":[[]]},{"id":"780adb4c.e1f2d4","type":"ui_group","name":"TRAFFIC_LIGHT","tab":"35c0940e.a5253c","order":1,"disp":false,"width":"15","collapse":false},{"id":"6ff00cb9.634ae4","type":"mqtt-broker","name":"prueba","broker":"localhost","port":"1883","clientid":"clientId-wn07IVoIs8","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"35c0940e.a5253c","type":"ui_tab","name":"TL_INFERENCE ","icon":"traffic","order":2,"disabled":false,"hidden":false}]