Zone_Classification/NodeRed/zone_classifiier.json
[{"id":"ffeaf05c.64841","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6d463fa8.8b8a18","type":"ui_tab","name":"Carril bici","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a150a4e8.aa5388","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f409976b.46719","type":"ui_group","name":"Carril bici","tab":"6d463fa8.8b8a18","order":1,"disp":true,"width":18,"collapse":false},{"id":"2096c0c6.23221","type":"ui_group","name":"Acera","tab":"2b0ed5b4.6092ca","order":1,"disp":true,"width":18,"collapse":false},{"id":"2b0ed5b4.6092ca","type":"ui_tab","name":"Acera","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f152ded4.37e5f8","type":"ui_tab","name":"Abrir Servidor","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3ac2b4ee.1db6a4","type":"ui_group","name":"Backend","tab":"f152ded4.37e5f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"85c748e8.2d1f88","type":"http request","z":"ffeaf05c.64841","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:1234/v1/api/prediction","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":540,"wires":[["a4810d7a.f652a","1a89a3ab.f93e34","ceaa86f0.d5e14","ca8c48.544d3bb8","2b7a4712.b0caf8","f9674e0e.11ad98"]]},{"id":"a4810d7a.f652a","type":"debug","z":"ffeaf05c.64841","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":560,"wires":[]},{"id":"cff20a1a.f69b5","type":"file in","z":"ffeaf05c.64841","name":"","filename":"/home/eugeni/Downloads/frame40.jpg","format":"","chunk":false,"sendError":false,"x":410,"y":540,"wires":[["f57c6f56.425198"]]},{"id":"f57c6f56.425198","type":"function","z":"ffeaf05c.64841","name":"Set form data","func":"var fileData = msg.payload;\nmsg.headers = {'content-type': 'multipart/form-data'};\n\nmsg.payload = {\n    \"image\": {\n        \"value\": fileData,\n        \"options\": {\n            \"filename\": \"file.jpg\"\n        }\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":540,"wires":[["85c748e8.2d1f88"]]},{"id":"b4440133.ac503","type":"ui_media","z":"ffeaf05c.64841","group":"f409976b.46719","name":"","width":8,"height":5,"order":1,"category":"Image","file":"frame40.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":370,"y":500,"wires":[[]]},{"id":"d636d853.b1f1b8","type":"inject","z":"ffeaf05c.64841","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":480,"wires":[["cff20a1a.f69b5"]]},{"id":"bb247998.360a6","type":"ui_media","z":"ffeaf05c.64841","group":"2096c0c6.23221","name":"","width":8,"height":5,"order":1,"category":"Image","file":"bici-por-acera-2_5_570x340.jpeg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":370,"y":620,"wires":[[]]},{"id":"d0f15cad.7b1a3","type":"ui_button","z":"ffeaf05c.64841","name":"","group":"2096c0c6.23221","order":6,"width":8,"height":1,"passthru":false,"label":"Enviar imagen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":560,"wires":[["e4f514d9.753298"]]},{"id":"ee987add.7a62c","type":"ui_button","z":"ffeaf05c.64841","name":"","group":"f409976b.46719","order":6,"width":8,"height":1,"passthru":false,"label":"Enviar imagen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":520,"wires":[["cff20a1a.f69b5"]]},{"id":"e4f514d9.753298","type":"file in","z":"ffeaf05c.64841","name":"","filename":"/home/eugeni/Pictures/bici-por-acera-2_5_570x340.jpeg","format":"","chunk":false,"sendError":false,"x":450,"y":580,"wires":[["9317eac2.95b0a8"]]},{"id":"9317eac2.95b0a8","type":"function","z":"ffeaf05c.64841","name":"Set form data","func":"var fileData = msg.payload;\nmsg.headers = {'content-type': 'multipart/form-data'};\n\nmsg.payload = {\n    \"image\": {\n        \"value\": fileData,\n        \"options\": {\n            \"filename\": \"file.jpg\"\n        }\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":580,"wires":[["72ad772d.377728"]]},{"id":"72ad772d.377728","type":"http request","z":"ffeaf05c.64841","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:1234/v1/api/prediction","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":580,"wires":[["a4810d7a.f652a","90f3f568.3c2ad","d370790a.f3efd8","ca2e5423.439e28","2f42d5ea.10721a","f9674e0e.11ad98"]]},{"id":"1a89a3ab.f93e34","type":"ui_text","z":"ffeaf05c.64841","group":"f409976b.46719","order":2,"width":5,"height":2,"name":"","label":"Predicci贸n: ","format":"{{msg.payload[0].label}}","layout":"row-spread","x":1250,"y":520,"wires":[]},{"id":"ceaa86f0.d5e14","type":"ui_gauge","z":"ffeaf05c.64841","name":"","group":"f409976b.46719","order":4,"width":5,"height":4,"gtype":"wave","title":"Confianza","label":"%","format":"{{msg.payload[0].probability}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1240,"y":480,"wires":[]},{"id":"2b7a4712.b0caf8","type":"ui_gauge","z":"ffeaf05c.64841","name":"","group":"f409976b.46719","order":5,"width":5,"height":4,"gtype":"wave","title":"Confianza","label":"%","format":"{{msg.payload[1].probability}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1240,"y":400,"wires":[]},{"id":"ca8c48.544d3bb8","type":"ui_text","z":"ffeaf05c.64841","group":"f409976b.46719","order":3,"width":5,"height":2,"name":"","label":"Predicci贸n: ","format":"{{msg.payload[1].label}}","layout":"row-spread","x":1250,"y":440,"wires":[]},{"id":"2f42d5ea.10721a","type":"ui_text","z":"ffeaf05c.64841","group":"2096c0c6.23221","order":2,"width":5,"height":2,"name":"","label":"Predicci贸n: ","format":"{{msg.payload[0].label}}","layout":"row-spread","x":1230,"y":720,"wires":[]},{"id":"ca2e5423.439e28","type":"ui_gauge","z":"ffeaf05c.64841","name":"","group":"2096c0c6.23221","order":4,"width":5,"height":4,"gtype":"wave","title":"Confianza","label":"%","format":"{{msg.payload[0].probability}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":680,"wires":[]},{"id":"90f3f568.3c2ad","type":"ui_gauge","z":"ffeaf05c.64841","name":"","group":"2096c0c6.23221","order":5,"width":5,"height":4,"gtype":"wave","title":"Confianza","label":"%","format":"{{msg.payload[1].probability}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":600,"wires":[]},{"id":"d370790a.f3efd8","type":"ui_text","z":"ffeaf05c.64841","group":"2096c0c6.23221","order":3,"width":5,"height":2,"name":"","label":"Predicci贸n: ","format":"{{msg.payload[1].label}}","layout":"row-spread","x":1230,"y":640,"wires":[]},{"id":"87ff8818.862f9","type":"ui_toast","z":"ffeaf05c.64841","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":740,"y":780,"wires":[]},{"id":"19cddaf3.970b25","type":"exec","z":"ffeaf05c.64841","command":"cd /home/eugeni/Desktop/SmartScooter/Zone_Classification/backend && go run ./cmd/serve/main.go","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":360,"wires":[["87ff8818.862f9","a4810d7a.f652a"],[],[]]},{"id":"f9674e0e.11ad98","type":"function","z":"ffeaf05c.64841","name":"","func":"if (msg.payload[0].label){\n    msg.payload= \"La imagen ha sido predecida correctamente\" \n} \nelse {\n    msg.payload= \"La imagen no se ha podido enviar. Prueba de abrir el servidor.\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["87ff8818.862f9"]]},{"id":"52d01eb4.7355","type":"function","z":"ffeaf05c.64841","name":"","func":"if (msg.payload==false){\n    delete msg.payload\n    msg.kill=\"SIGKILL\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":360,"wires":[["19cddaf3.970b25"]]},{"id":"a777fbd2.d00138","type":"ui_switch","z":"ffeaf05c.64841","name":"","label":"ABRIR API","tooltip":"","group":"3ac2b4ee.1db6a4","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":140,"y":280,"wires":[["52d01eb4.7355"]]}]