IoT/DASHBOARD/main_flows.json
[{"id":"3b8432b.9e6a6ce","type":"tab","label":"LIGHT_HOME","disabled":false,"info":""},{"id":"f91003cd.957f9","type":"http request","z":"3b8432b.9e6a6ce","name":"REBY POST","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":100,"wires":[["fef73784.c8fea8"]]},{"id":"457b727e.f0ff7c","type":"function","z":"3b8432b.9e6a6ce","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer sess_3quryhvtzpp52va3str1_b851ee78f84c6c4bdebb43e1eb27498397897cb53c8519dc';\nmsg.headers['Vehicle'] = 'v_3nj4jkytuxpxqnqtkrk1';\nmsg.url=\"https://api.reby.co/v2/research/status\"\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["f91003cd.957f9"]]},{"id":"e69a9eb5.fcc7a","type":"debug","z":"3b8432b.9e6a6ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":160,"wires":[]},{"id":"5557f6f2.b418d8","type":"exec","z":"3b8432b.9e6a6ce","command":"google-chrome  http://127.0.0.1:1880/ui/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":240,"y":220,"wires":[[],[],[]]},{"id":"25248faa.252ab","type":"inject","z":"3b8432b.9e6a6ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"3","x":170,"y":160,"wires":[["457b727e.f0ff7c"]]},{"id":"5179c91.bc05438","type":"ui_gauge","z":"3b8432b.9e6a6ce","name":"","group":"55467c50.57a5c4","order":4,"width":8,"height":4,"gtype":"donut","title":"BATTERY","label":"units","format":"{{payload.battery_level}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":200,"wires":[]},{"id":"d2de0131.306e8","type":"ui_gauge","z":"3b8432b.9e6a6ce","name":"","group":"55467c50.57a5c4","order":5,"width":8,"height":4,"gtype":"gage","title":"SPEED","label":"units","format":"{{payload.speed}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":240,"wires":[]},{"id":"43305140.dfd56","type":"ui_worldmap","z":"3b8432b.9e6a6ce","group":"55467c50.57a5c4","order":6,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":1000,"y":80,"wires":[]},{"id":"4dcd8568.fa6cec","type":"function","z":"3b8432b.9e6a6ce","name":"","func":"msg.payload = {command:{lat:global.get(\"status.location.latitude\"), lon:global.get(\"status.location.longitude\"), zoom:16}};\nnode.send(msg)\nmsg.payload={}\nmsg.payload.name=\"SCOOTER_ETSEIB\"\nmsg.payload.lat=global.get(\"status.location.latitude\")\nmsg.payload.lon=global.get(\"status.location.longitude\")\nmsg.payload.icon=\"fa-user-circle\"\nnode.send(msg);","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["43305140.dfd56"]]},{"id":"9a295cc4.527ce","type":"ui_template","z":"3b8432b.9e6a6ce","group":"55467c50.57a5c4","name":"","order":1,"width":9,"height":4,"format":"<img ng-src=\"https://frm.eic.cat/se/img/logo-ETSEIB-UPC.png\" height=\"40%\" width=\"40%\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":280,"wires":[[]]},{"id":"fef73784.c8fea8","type":"json","z":"3b8432b.9e6a6ce","name":"","property":"payload","action":"","pretty":false,"x":470,"y":100,"wires":[["747a1377.f1554c"]]},{"id":"747a1377.f1554c","type":"change","z":"3b8432b.9e6a6ce","name":"","rules":[{"t":"set","p":"status","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":100,"wires":[["4dcd8568.fa6cec","e69a9eb5.fcc7a","5179c91.bc05438","d2de0131.306e8"]]},{"id":"2310c7ed.5387c8","type":"ui_template","z":"3b8432b.9e6a6ce","group":"55467c50.57a5c4","name":"","order":2,"width":7,"height":4,"format":"<img ng-src=\"http://www.smartmotochallenge.org/images/bsmc/motosport/cssclogo2.png\" height=\"50%\" width=\"50%\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":320,"wires":[[]]},{"id":"25f51323.73121c","type":"tab","label":"LIGHT_TRAFFIC LIGHTS","disabled":false,"info":""},{"id":"2ed37b59.4eb174","type":"exec","z":"25f51323.73121c","command":"cd /home/eugeni/Desktop/SmartScooter/prediction/TRAFFIC_LIGHT/ &&","addpay":false,"append":"python3 video_detection.py","useSpawn":"false","timer":"","oldrc":false,"name":"","x":640,"y":140,"wires":[["e907caf7.3ed028"],["e907caf7.3ed028"],["e907caf7.3ed028"]]},{"id":"e907caf7.3ed028","type":"debug","z":"25f51323.73121c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":280,"wires":[]},{"id":"509f5773.8bcdf8","type":"ui_button","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","order":3,"width":3,"height":2,"passthru":false,"label":"<i class=\"fa fa-flash fa-5x\"></i> ","tooltip":"","color":"black","bgcolor":"white","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":140,"wires":[["2ed37b59.4eb174"]]},{"id":"80c8ffb0.fb717","type":"ui_text","z":"25f51323.73121c","group":"780adb4c.e1f2d4","order":5,"width":5,"height":2,"name":"","label":"CONFIDENCE <i class=\"fa fa-percent\"></i> ","format":"{{msg.confidence}}","layout":"col-center","x":870,"y":400,"wires":[]},{"id":"6c556071.bf5a1","type":"mqtt in","z":"25f51323.73121c","name":"","topic":"light/TL/detection","qos":"0","datatype":"auto","broker":"6ff00cb9.634ae4","x":120,"y":400,"wires":[["e907caf7.3ed028","63e9ad89.5a7fe4"]]},{"id":"ace9ee0c.b28b9","type":"mqtt out","z":"25f51323.73121c","name":"","topic":"light/TL/stop","qos":"0","retain":"false","broker":"6ff00cb9.634ae4","x":770,"y":620,"wires":[]},{"id":"94f2d6.dbfb4d28","type":"inject","z":"25f51323.73121c","name":"STOP","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["ace9ee0c.b28b9"]]},{"id":"62db5f9d.e94f9","type":"comment","z":"25f51323.73121c","name":"STOP","info":"Send MQTT message to the python script to finsih the runnig","x":110,"y":560,"wires":[]},{"id":"f201f720.aad4a8","type":"comment","z":"25f51323.73121c","name":"RUN","info":"","x":90,"y":100,"wires":[]},{"id":"6401b2e.2fb764c","type":"comment","z":"25f51323.73121c","name":"GET RESULTS","info":"","x":120,"y":360,"wires":[]},{"id":"be25470b.451a98","type":"ui_template","z":"25f51323.73121c","group":"780adb4c.e1f2d4","name":"","order":16,"width":5,"height":11,"format":"<img src={{msg.img}} alt=\"Traffic Light\" height=\"100%\" width=\"100%\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":500,"wires":[[]]},{"id":"63e9ad89.5a7fe4","type":"function","z":"25f51323.73121c","name":"DIVIDE","func":"var l=msg.payload.split(\"/\")\nmsg.confidence=String((parseFloat(l[0])*100).toFixed(3))+ \"%\"\nmsg.class=l[1]\nmsg.distance=String((parseFloat(l[2])).toFixed(3))+ \"m\"\nmsg.img=\"http://localhost:1880/Desktop/SmartScooter/prediction/TRAFFIC_LIGHT/\"+msg.class+\".png\"\n\nif (msg.class===\"red\"){msg.speed=0}\nelse if(msg.class===\"yellow\"){msg.speed=10}\nelse if(msg.class===\"green\"){msg.speed=30}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":400,"wires":[["80c8ffb0.fb717","be25470b.451a98","9e2386c9.00e038","862e5be8.d61ca8","e34cd871.4685f8"]]},{"id":"6a27886d.bcd3c8","type":"function","z":"25f51323.73121c","name":"set URL and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer sess_3quryhvtzpp52va3str1_b851ee78f84c6c4bdebb43e1eb27498397897cb53c8519dc';\nmsg.headers['Vehicle'] = 'v_3nj4jkytuxpxqnqtkrk1';\nmsg.url=\"https://api.reby.co/v2/research/\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":700,"wires":[["e6c8bcfa.c1f2"]]},{"id":"e6c8bcfa.c1f2","type":"http request","z":"25f51323.73121c","name":"post to FRED","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":760,"wires":[["52a4bd04.e22b04"]]},{"id":"52a4bd04.e22b04","type":"json","z":"25f51323.73121c","name":"","property":"payload","action":"","pretty":false,"x":510,"y":760,"wires":[["b1e20b1c.e1c4d8","8a74c9e.1331238","cbbd3ebd.be70b"]]},{"id":"b1e20b1c.e1c4d8","type":"debug","z":"25f51323.73121c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":700,"wires":[]},{"id":"b9109c4a.755c3","type":"function","z":"25f51323.73121c","name":"DISTANCE CALCULATION - HAVERSINE FORMULA","func":"function toRad(Value) {\n    /** Converts numeric degrees to radians */\n    return Value * Math.PI / 180;\n}\n\nvar R = 6371e3; // metres\nvar lat2 = flow.get('latitude') || 41.385391;\nvar lon2 = flow.get('longitude') || 2.116683;\nvar φ1 = toRad(msg.payload.location.latitude);\nvar φ2 = toRad(lat2);\nvar Δφ = toRad(lat2-msg.payload.location.latitude);\nvar Δλ = toRad(lon2-msg.payload.location.longitude);\n\nvar a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +\n        Math.cos(φ1) * Math.cos(φ2) *\n        Math.sin(Δλ/2) * Math.sin(Δλ/2);\nvar c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n\nvar d = R * c;\nmsg.distance = d.toFixed(3);\nflow.set('latitude', lat2 - 0.00001);\nflow.set('longitude', lon2 - 0.00001);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":40,"wires":[[]]},{"id":"74835158.157ed","type":"inject","z":"25f51323.73121c","d":true,"name":"LOCATION","topic":"","payload":"status","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"1.5","x":130,"y":700,"wires":[["6a27886d.bcd3c8"]]},{"id":"98866f31.03249","type":"ui_gauge","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","order":25,"width":9,"height":5,"gtype":"gage","title":"Speed","label":"km/h","format":"{{msg.payload}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"20","x":690,"y":980,"wires":[]},{"id":"742a9878.802998","type":"inject","z":"25f51323.73121c","name":"SPEED","topic":"","payload":"18","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":980,"wires":[["15b521ba.a7956e"]]},{"id":"15b521ba.a7956e","type":"change","z":"25f51323.73121c","name":"","rules":[{"t":"set","p":"speed","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":980,"wires":[[]]},{"id":"3ad1dd6b.d5b302","type":"ui_worldmap","z":"25f51323.73121c","group":"780adb4c.e1f2d4","order":31,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"19","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":440,"y":880,"wires":[]},{"id":"8a74c9e.1331238","type":"change","z":"25f51323.73121c","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"Eugeni","tot":"str"},{"t":"set","p":"lat","pt":"msg","to":"payload.location.latitude","tot":"msg"},{"t":"set","p":"lon","pt":"msg","to":"payload.location.longitude","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":880,"wires":[["254a743b.02e68c"]]},{"id":"254a743b.02e68c","type":"function","z":"25f51323.73121c","name":"SETUP","func":"msg.payload = {command:{lat:msg.lat, lon:msg.lon, zoom:14}};\nmsg.payload.name=\"Eugeni\"\nmsg.payload.lat=msg.lat\nmsg.payload.lon=msg.lon\nmsg.payload.icon=\"fa-user-circle\"\nmsg.payload.layer=\"gps\"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":880,"wires":[["3ad1dd6b.d5b302"]]},{"id":"d76b5110.32631","type":"ui_button","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","order":7,"width":3,"height":2,"passthru":false,"label":"<i class=\"fa fa-stop fa-5x\"></i> ","tooltip":"","color":"black","bgcolor":"white","icon":"","payload":"stop","payloadType":"str","topic":"","x":190,"y":640,"wires":[["ace9ee0c.b28b9"]]},{"id":"5cec2012.1441","type":"function","z":"25f51323.73121c","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer sess_3quryhvtzpp52va3str1_b851ee78f84c6c4bdebb43e1eb27498397897cb53c8519dc';\nmsg.headers['Vehicle'] = 'v_3nj4jkytuxpxqnqtkrk1';\nmsg.url=\"https://api.reby.co/v2/research/speed_limit/\"+String(msg.speed)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1100,"wires":[["6bdb9020.c8a55"]]},{"id":"6bdb9020.c8a55","type":"http request","z":"25f51323.73121c","name":"REBY POST","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":1100,"wires":[["fcd9706a.7b603"]]},{"id":"e720ab98.7ead38","type":"inject","z":"25f51323.73121c","name":"SPEED","topic":"","payload":"18","payloadType":"num","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1100,"wires":[["53ae323f.a4989c"]]},{"id":"53ae323f.a4989c","type":"function","z":"25f51323.73121c","name":"COMPARE TIME","func":"var speed=global.get(\"max_speed\")||0\nvar then=global.get(\"last_mod\")||new Date()\nvar now=new Date()\nif (now-then>=7000 && speed===10){\n    msg.payload=30;\n    global.set(\"max_speed\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":340,"y":1100,"wires":[["5cec2012.1441"]]},{"id":"9e2386c9.00e038","type":"function","z":"25f51323.73121c","name":"SETUP","func":"var repeat=global.get(\"repeat\")||0\nvar speed=global.get(\"max_speed\")||0\n\nif (msg.speed!==speed){\n    global.set(\"max_speed\",msg.speed)  \n    global.set(\"repeat\",0)\n    \n}\nelse if(repeat===10){\n    if (speed===10){\n        msg.payload=\"Be careful!\"\n    }\n    else if (speed===0){\n        msg.payload=\"STOP!\"\n    }\n    else if(speed===30){\n        msg.payload=\"All good\"\n    }\n    global.set(\"repeat\",repeat+1)\n    var date=new Date()\n    global.set(\"last_mod\", date )\n    return msg;//solo enviamos si reconocemos 3 semaforos seguidos iguales\n}\nelse{\n    global.set(\"repeat\",repeat+1)\n}\n\n","outputs":1,"noerr":0,"x":760,"y":940,"wires":[["49c50b41.844734","5cec2012.1441","8fe0aea9.648d","8ccae495.4aad88"]]},{"id":"49c50b41.844734","type":"ui_gauge","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","order":17,"width":9,"height":5,"gtype":"gage","title":"Max Speed","label":"km/h","format":"{{msg.speed}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":940,"wires":[]},{"id":"8fe0aea9.648d","type":"ui_audio","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","voice":"en-GB","always":"","x":980,"y":980,"wires":[]},{"id":"1b8915bc.3e1daa","type":"inject","z":"25f51323.73121c","name":"Reset","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":true,"onceDelay":"3","x":960,"y":1040,"wires":[["b4da7e41.b2444"]]},{"id":"b4da7e41.b2444","type":"change","z":"25f51323.73121c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1040,"wires":[["8fe0aea9.648d"]]},{"id":"fcd9706a.7b603","type":"debug","z":"25f51323.73121c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1180,"wires":[]},{"id":"862e5be8.d61ca8","type":"function","z":"25f51323.73121c","name":"DISTANCE","func":"msg.payload=msg.distance\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":460,"wires":[[]]},{"id":"c6a8269e.1ce658","type":"ui_button","z":"25f51323.73121c","name":"","group":"780adb4c.e1f2d4","order":1,"width":0,"height":0,"passthru":false,"label":"RESET VARIABLES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":220,"wires":[["9fc705f1.7179f8"]]},{"id":"9fc705f1.7179f8","type":"change","z":"25f51323.73121c","name":"","rules":[{"t":"set","p":"repeat","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[[]]},{"id":"8ccae495.4aad88","type":"debug","z":"25f51323.73121c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"speed","targetType":"msg","x":970,"y":860,"wires":[]},{"id":"44ba079b.1f32a8","type":"mqtt out","z":"25f51323.73121c","name":"","topic":"light/TL/speed","qos":"0","retain":"false","broker":"6ff00cb9.634ae4","x":800,"y":840,"wires":[]},{"id":"a1682e46.c8a12","type":"ui_slider","z":"25f51323.73121c","name":"","label":"SPEED-MANUALLY","tooltip":"","group":"780adb4c.e1f2d4","order":23,"width":9,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"30","step":"1","x":460,"y":960,"wires":[["98866f31.03249","8bb8ed0a.60bad"]]},{"id":"8bb8ed0a.60bad","type":"function","z":"25f51323.73121c","name":"","func":"msg.speed=msg.payload\nif (msg.payload>10){\n    msg.payload=\"fast\"\n}\nelse if(msg.payload<=10){\n    msg.payload=\"slow\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":920,"wires":[["44ba079b.1f32a8"]]},{"id":"cbbd3ebd.be70b","type":"change","z":"25f51323.73121c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":820,"wires":[["8bb8ed0a.60bad"]]},{"id":"43985bfd.12bb94","type":"ui_slider","z":"25f51323.73121c","d":true,"name":"","label":"DISTANCE","tooltip":"","group":"780adb4c.e1f2d4","order":15,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"80","step":"0.5","x":990,"y":480,"wires":[[]]},{"id":"6d7c5601.0f07e8","type":"ui_text","z":"25f51323.73121c","d":true,"group":"780adb4c.e1f2d4","order":13,"width":4,"height":1,"name":"","label":"DISTANCE","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":440,"wires":[]},{"id":"e34cd871.4685f8","type":"function","z":"25f51323.73121c","name":"To CSV","func":"msg.payload= {\"class\":msg.class , \"confidence\":msg.confidence}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":340,"wires":[["76769c59.064ff4"]]},{"id":"76769c59.064ff4","type":"csv","z":"25f51323.73121c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":920,"y":340,"wires":[["4c266cc0.e69ea4"]]},{"id":"4c266cc0.e69ea4","type":"file","z":"25f51323.73121c","name":"","filename":"/home/eugeni/Desktop/SmartScooter/TL.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1220,"y":340,"wires":[[]]},{"id":"8af47fd9.7f7ff","type":"tab","label":"LIGHT_CONES","disabled":false,"info":""},{"id":"282714d8.54eb4c","type":"debug","z":"8af47fd9.7f7ff","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":320,"wires":[]},{"id":"b7533585.f63fd8","type":"mqtt in","z":"8af47fd9.7f7ff","name":"","topic":"light/CONE/detection","qos":"0","datatype":"auto","broker":"6ff00cb9.634ae4","x":210,"y":440,"wires":[["282714d8.54eb4c","e0ab467a.bf6328"]]},{"id":"81b5b6e5.1156d8","type":"mqtt out","z":"8af47fd9.7f7ff","name":"","topic":"light/CONE/stop","qos":"0","retain":"false","broker":"6ff00cb9.634ae4","x":840,"y":640,"wires":[]},{"id":"e3c5adaa.62a58","type":"inject","z":"8af47fd9.7f7ff","name":"STOP","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":640,"wires":[["81b5b6e5.1156d8"]]},{"id":"b3e9bfa3.7f421","type":"comment","z":"8af47fd9.7f7ff","name":"STOP","info":"Send MQTT message to the python script to finsih the runnig","x":170,"y":240,"wires":[]},{"id":"fb3d2156.26f9a","type":"comment","z":"8af47fd9.7f7ff","name":"RUN","info":"","x":170,"y":140,"wires":[]},{"id":"794eb863.bab6c8","type":"comment","z":"8af47fd9.7f7ff","name":"GET RESULTS","info":"","x":200,"y":400,"wires":[]},{"id":"10361fd4.20b95","type":"exec","z":"8af47fd9.7f7ff","command":"cd /home/eugeni/Desktop/SmartScooter/prediction/CONE/ &&","addpay":false,"append":"python3 cones.py","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":180,"wires":[["282714d8.54eb4c"],["282714d8.54eb4c"],["282714d8.54eb4c"]]},{"id":"6a790de.aa8b1f4","type":"ui_gauge","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","order":19,"width":11,"height":5,"gtype":"gage","title":"Speed","label":"km/h","format":"{{msg.speed}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"20","x":830,"y":700,"wires":[]},{"id":"7c33fde7.94bd94","type":"inject","z":"8af47fd9.7f7ff","name":"SPEED","topic":"","payload":"18","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":700,"wires":[["b9b7e47a.42cb48"]]},{"id":"96a0b881.a15728","type":"change","z":"8af47fd9.7f7ff","name":"","rules":[{"t":"set","p":"speed","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":700,"wires":[["6a790de.aa8b1f4"]]},{"id":"753e792b.4f94c8","type":"function","z":"8af47fd9.7f7ff","name":"SETUP","func":"msg.speed = parseInt(msg.speed)\nvar now=new Date()\nvar then= global.get(\"last_mod\")||new Date()\n\nif (msg.speed===30 && now-then>5000){\n    return msg;\n}\nelse if (msg.speed===0 || msg.speed===5){\n    global.set(\"last_mod\",now)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":760,"wires":[["2910cd6a.5cd162","4a768bf6.17eca4"]]},{"id":"baefa9d3.a6c768","type":"ui_text","z":"8af47fd9.7f7ff","group":"acbacb51.bd8f38","order":5,"width":5,"height":2,"name":"","label":"DISTANCE","format":"{{msg.dist}}","layout":"col-center","x":730,"y":460,"wires":[]},{"id":"e0ab467a.bf6328","type":"function","z":"8af47fd9.7f7ff","name":"SPLIT","func":"msg.speed=msg.payload.split(\"/\")[0]\nmsg.dist=String((parseFloat(msg.payload.split(\"/\")[1])).toFixed(3))+ \"m\"\nif (isNaN(msg.payload.split(\"/\")[1] )){\n    msg.dist=global.get(\"distance\")|| \"Not yet\"\n}\nelse{\n    global.set(\"distance\",msg.dist)\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["baefa9d3.a6c768","753e792b.4f94c8","7421fda6.696384"]]},{"id":"2910cd6a.5cd162","type":"ui_gauge","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","order":8,"width":11,"height":5,"gtype":"gage","title":"Max Speed","label":"km/h","format":"{{msg.speed}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":740,"wires":[]},{"id":"73795113.b4973","type":"function","z":"8af47fd9.7f7ff","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer sess_3quryhvtzpp52va3str1_b851ee78f84c6c4bdebb43e1eb27498397897cb53c8519dc';\nmsg.headers['Vehicle'] = 'v_3nj4jkytuxpxqnqtkrk1';\nmsg.url=\"https://api.reby.co/v2/research/speed_limit/\"+String(msg.speed)\nvar speed=global.get(\"max_speed\")\nif (msg.speed!=speed){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":900,"wires":[["272dcdb4.cde192"]]},{"id":"272dcdb4.cde192","type":"http request","z":"8af47fd9.7f7ff","name":"REBY POST","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":900,"wires":[["840b1955.bfe948"]]},{"id":"53ed3eb6.73fdf","type":"ui_audio","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","voice":"en-GB","always":"","x":1100,"y":780,"wires":[]},{"id":"4a768bf6.17eca4","type":"function","z":"8af47fd9.7f7ff","name":"SETUP","func":"var speed=global.get(\"max_speed\")||0\nvar repeat=global.get(\"repeat\")||0\nif (msg.speed!=speed){\n    global.set(\"repeat\",0)\n    global.set(\"max_speed\",msg.speed)\n}    \nelse if(repeat===3){    \n    if (msg.speed===5){\n    msg.payload=\"Be careful!\"\n    }\n    else if (msg.speed===0){\n        msg.payload=\"STOP!\"\n    }\n    else{\n        msg.payload=\"All good\"\n    }\n    global.set(\"repeat\",repeat+1)\n    return msg;\n}\nelse{\n    global.set(\"repeat\",repeat+1)\n}\n\n\n","outputs":1,"noerr":0,"x":740,"y":780,"wires":[["53ed3eb6.73fdf","73795113.b4973"]]},{"id":"3b5df117.96796e","type":"inject","z":"8af47fd9.7f7ff","name":"Reset","topic":"","payload":"true","payloadType":"bool","repeat":"3","crontab":"","once":true,"onceDelay":"3","x":900,"y":840,"wires":[["255df6a3.e3ed8a"]]},{"id":"255df6a3.e3ed8a","type":"change","z":"8af47fd9.7f7ff","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":840,"wires":[["53ed3eb6.73fdf"]]},{"id":"52124b1f.250934","type":"debug","z":"8af47fd9.7f7ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":900,"wires":[]},{"id":"840b1955.bfe948","type":"json","z":"8af47fd9.7f7ff","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":900,"wires":[["52124b1f.250934"]]},{"id":"c4dc1a02.c05dd8","type":"http request","z":"8af47fd9.7f7ff","name":"REBY POST","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":820,"wires":[["2f983d40.10e152"]]},{"id":"b9b7e47a.42cb48","type":"function","z":"8af47fd9.7f7ff","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer sess_3quryhvtzpp52va3str1_b851ee78f84c6c4bdebb43e1eb27498397897cb53c8519dc';\nmsg.headers['Vehicle'] = 'v_3nj4jkytuxpxqnqtkrk1';\nmsg.url=\"https://api.reby.co/v2/research/status/\"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":780,"wires":[["c4dc1a02.c05dd8"]]},{"id":"20c8159b.5616ba","type":"change","z":"8af47fd9.7f7ff","name":"","rules":[{"t":"set","p":"speed","pt":"msg","to":"payload.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":740,"wires":[["6a790de.aa8b1f4"]]},{"id":"2f983d40.10e152","type":"json","z":"8af47fd9.7f7ff","name":"","property":"payload","action":"","pretty":false,"x":210,"y":860,"wires":[["20c8159b.5616ba"]]},{"id":"fedf0c0e.af1e4","type":"ui_slider","z":"8af47fd9.7f7ff","name":"","label":"DISTANCE","tooltip":"","group":"acbacb51.bd8f38","order":6,"width":13,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"15","step":"0.5","x":910,"y":500,"wires":[[]]},{"id":"7421fda6.696384","type":"change","z":"8af47fd9.7f7ff","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dist","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["fedf0c0e.af1e4"]]},{"id":"f71f6991.17ba88","type":"ui_button","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","order":1,"width":0,"height":0,"passthru":false,"label":"RESET VARIABLES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":540,"wires":[["9ad1e471.c316b8"]]},{"id":"9ad1e471.c316b8","type":"change","z":"8af47fd9.7f7ff","name":"","rules":[{"t":"set","p":"repeat","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":540,"wires":[[]]},{"id":"639ab770.8fc758","type":"comment","z":"8af47fd9.7f7ff","name":"","info":"1. lineas si diferencia entre el costado detectado inferior es menor a 20 pixels respecto el cono inferior\n2. sino, y tambien tenemos conos detectados, estaremos en random\n3. Y sino nada, 30km/h\n4. Para validar una situación necesitamos almenos 3 frames seguidos con el mismo resultado.\n5. Pero si el resultado es=30km/h (nada) nos esperamos 7 segundos des de la ultima deteccion de cono.","x":900,"y":80,"wires":[]},{"id":"34abbc9e.fdd2a4","type":"ui_button","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","order":2,"width":4,"height":3,"passthru":false,"label":"<i class=\"fa fa-flash fa-5x\"></i> ","tooltip":"","color":"black","bgcolor":"white","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":180,"wires":[["10361fd4.20b95"]]},{"id":"a56aa302.f12da","type":"ui_button","z":"8af47fd9.7f7ff","name":"","group":"acbacb51.bd8f38","order":4,"width":4,"height":3,"passthru":false,"label":"<i class=\"fa fa-stop fa-5x\"></i> ","tooltip":"","color":"black","bgcolor":"white","icon":"","payload":"stop","payloadType":"str","topic":"","x":130,"y":320,"wires":[["81b5b6e5.1156d8"]]},{"id":"95cd962a.59da38","type":"tab","label":"LIGHT_HELMET-TELEGRAM","disabled":false,"info":""},{"id":"de36c767.cd0c18","type":"http in","z":"95cd962a.59da38","name":"","url":"/helmet","method":"get","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["da2c0171.7a7cc"]]},{"id":"bcb0a318.c81ad","type":"http response","z":"95cd962a.59da38","name":"","statusCode":"","headers":{},"x":560,"y":80,"wires":[]},{"id":"da2c0171.7a7cc","type":"template","z":"95cd962a.59da38","name":"Video - p5js, ml5js","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>Teachable Machine Image Model - p5.js and ml5.js</div>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js\"></script>\n<script src=\"https://unpkg.com/ml5@0.4.3/dist/ml5.min.js\"></script>\n<script type=\"text/javascript\">\n  // Classifier Variable\n  let classifier;\n  // Model URL\n  let imageModelURL = 'https://teachablemachine.withgoogle.com/models/xICvkPgUG/';\n  \n  // Video\n  let video;\n  let flippedVideo;\n  // To store the classification\n  let label = \"\";\n\n  // Load the model first\n  function preload() {\n    classifier = ml5.imageClassifier(imageModelURL + 'model.json');\n  }\n\n  function setup() {\n    createCanvas(320, 260);\n    // Create the video\n    video = createCapture(VIDEO);\n    video.size(320, 240);\n    video.hide();\n\n    flippedVideo = ml5.flipImage(video);\n    // Start classifying\n    classifyVideo();\n  }\n\n  function draw() {\n    background(0);\n    // Draw the video\n    image(flippedVideo, 0, 0);\n\n    // Draw the label\n    fill(255);\n    textSize(16);\n    textAlign(CENTER);\n    text(label, width / 2, height - 4);\n  }\n\n  // Get a prediction for the current video frame\n  function classifyVideo() {\n    flippedVideo = ml5.flipImage(video)\n    classifier.classify(flippedVideo, gotResult);\n    flippedVideo.remove();\n\n  }\n\n  // When we get a result\n  function gotResult(error, results) {\n    // If there is an error\n    if (error) {\n      console.error(error);\n      return;\n    }\n    // The results are in an array ordered by confidence.\n    console.log(results[0]);\n    label = results[0].label;\n    // Classifiy again!\n    classifyVideo();\n  }\n</script>","output":"str","x":360,"y":80,"wires":[["bcb0a318.c81ad"]]},{"id":"370864a3.f2e2fc","type":"telegram sender","z":"95cd962a.59da38","name":"","bot":"785a4ad7.05a464","x":710,"y":1040,"wires":[[]]},{"id":"5f31ad64.cc4aa4","type":"telegram command","z":"95cd962a.59da38","name":"/foo","command":"/foo","bot":"785a4ad7.05a464","strict":false,"hasresponse":false,"x":150,"y":1040,"wires":[["370864a3.f2e2fc"],[]]},{"id":"13b3f0f8.00667f","type":"telegram receiver","z":"95cd962a.59da38","name":"","bot":"785a4ad7.05a464","saveDataDir":"","filterCommands":false,"x":190,"y":720,"wires":[["e48ec933.1bbf18","6326a956.a3c528"],[]]},{"id":"fc16c361.2d5aa","type":"telegram sender","z":"95cd962a.59da38","name":"","bot":"785a4ad7.05a464","x":910,"y":400,"wires":[[]]},{"id":"5157f77e.940e08","type":"debug","z":"95cd962a.59da38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":820,"wires":[]},{"id":"5340fdfc.affda4","type":"catch","z":"95cd962a.59da38","name":"","scope":null,"uncaught":false,"x":160,"y":820,"wires":[["5157f77e.940e08"]]},{"id":"edd1dfdf.9fd6a","type":"telegram event","z":"95cd962a.59da38","name":"","bot":"785a4ad7.05a464","event":"callback_query","autoanswer":true,"x":180,"y":880,"wires":[["bb776df.e5b5a9"]]},{"id":"694859b0.490198","type":"telegram sender","z":"95cd962a.59da38","name":"show inline keyboard","bot":"785a4ad7.05a464","x":720,"y":960,"wires":[[]]},{"id":"83bdb60e.c52698","type":"function","z":"95cd962a.59da38","name":"inline keyboard message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Yes\",\n                    \"callback_data\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'Are you sure?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":450,"y":960,"wires":[["694859b0.490198"]]},{"id":"e772441b.284b78","type":"telegram command","z":"95cd962a.59da38","name":"/foo","command":"/foo","bot":"785a4ad7.05a464","strict":false,"x":150,"y":960,"wires":[["83bdb60e.c52698"],[]]},{"id":"bb776df.e5b5a9","type":"function","z":"95cd962a.59da38","name":"set answer options","func":"var show_alert = false; // you can set this to true to open a dialog with the answer in the client.\n\n// msg.payload.content contains the callback data from the keyboard.\n// You may change this value here.\nmsg.payload.options = show_alert;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":430,"y":880,"wires":[["5f77eb68.05e794"]]},{"id":"5f77eb68.05e794","type":"telegram sender","z":"95cd962a.59da38","name":"answer callback query","bot":"785a4ad7.05a464","x":720,"y":880,"wires":[[]]},{"id":"859d0ee4.33948","type":"template","z":"95cd962a.59da38","name":"Image - p5js, ml5js","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>Teachable Machine Image Model - p5.js and ml5.js</div>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js\"></script>\n<script src=\"https://unpkg.com/ml5@0.4.3/dist/ml5.min.js\"></script>\n<script type=\"text/javascript\">\n  // Classifier Variable\n  let classifier;\n  // Model URL\n  let imageModelURL = 'https://teachablemachine.withgoogle.com/models/xICvkPgUG/';\n  \n  // Image\n  let image;\n  let flippedImage;\n  // To store the classification\n  let label = \"\";\n\n  // Load the model first\n  function preload() {\n    classifier = ml5.imageClassifier(imageModelURL + 'model.json');\n    //img = createImg('https://labicikleta.com/wp-content/uploads/2018/09/Casco-ciclista_-Getty-image_2-770x433.png');\n    img = loadImage('/Desktop/SmartScooter/HELMET/WITHOUT_HELMET/PICTURES/WITHOUT_HELMET-1.jpg');\n      \n  }\n\n  function setup() {\n    //img = createImg('https://labicikleta.com/wp-content/uploads/2018/09/Casco-ciclista_-Getty-image_2-770x433.png');\n    //img = loadImage('/Desktop/SmartScooter/HELMET/WITH_HELMET/PICTURES/WITH_HELMET-1.jpg',imageReady);\n    createCanvas(320, 260);\n    // Create the video\n    //image = createCapture(VIDEO);\n    //img.size(320, 240);\n    //img.hide();\n\n    //flippedImage = ml5.flipImage(image);\n    // Start classifying\n    imageReady();\n  }\n\n  function draw() {\n    background(255);\n    // Draw the video\n    //image(img, 0, 0);\n\n    // Draw the label\n    fill(0);\n    textSize(16);\n    textAlign(CENTER);\n    text(label, width / 2, height - 4);\n  }\n  function imageReady() {\n  // The image should be 227x227\n  //img.attribute('width', 227);\n  //img.attribute('height', 227);\n  //img.hide();\n\n  // Get a prediction for that image\n  classifier.classify(img, gotResult);\n  }\n  \n  // Get a prediction for the current video frame\n /* function classifyVideo() {\n    flippedImage = ml5.flipImage(image)\n    classifier.classify(flippedImage, gotResult);\n    //flippedImage.remove();\n\n  }*/\n\n  // When we get a result\n  function gotResult(error, results) {\n    // If there is an error\n    if (error) {\n      console.error(error);\n      return;\n    }\n    // The results are in an array ordered by confidence.\n    // console.log(results[0]);\n    label = results[0].label;\n    // Classifiy again!\n    //classifyVideo();\n  }\n</script>","output":"str","x":370,"y":200,"wires":[["9f293fb2.3bdec"]]},{"id":"c2599683.472b68","type":"http in","z":"95cd962a.59da38","name":"","url":"/helmet2","method":"get","upload":false,"swaggerDoc":"","x":150,"y":200,"wires":[["859d0ee4.33948"]]},{"id":"9f293fb2.3bdec","type":"http response","z":"95cd962a.59da38","name":"","statusCode":"","headers":{},"x":570,"y":200,"wires":[]},{"id":"9b560d8c.b1be3","type":"comment","z":"95cd962a.59da38","name":"VIDEO PREDICTION","info":"","x":180,"y":40,"wires":[]},{"id":"44fcb681.c21088","type":"comment","z":"95cd962a.59da38","name":"IMAGE PREDICTION, FROM FILES","info":"","x":220,"y":160,"wires":[]},{"id":"b2ba7cda.6e95a","type":"comment","z":"95cd962a.59da38","name":"Need to quit // from httpStatic: '/home/eugeni/',","info":"","x":310,"y":240,"wires":[]},{"id":"50f0c54e.1bf76c","type":"ui_template","z":"95cd962a.59da38","group":"57a0f5db.73ba4c","name":"","order":0,"width":0,"height":0,"format":"<div>Teachable Machine Image Model</div>\n<button type=\"button\" onclick=\"init()\">Start</button>\n<div id=\"webcam-container\"></div>\n<div id=\"label-container\"></div>\n<script src=\"https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js\"></script>\n<script src=\"https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js\"></script>\n<script type=\"text/javascript\">\n    // More API functions here:\n    // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/image\n\n    // the link to your model provided by Teachable Machine export panel\n    const URL = \"https://teachablemachine.withgoogle.com/models/xICvkPgUG/\";\n\n    let model, webcam, labelContainer, maxPredictions;\n\n    // Load the image model and setup the webcam\n    async function init() {\n        const modelURL = URL + \"model.json\";\n        const metadataURL = URL + \"metadata.json\";\n\n        // load the model and metadata\n        // Refer to tmImage.loadFromFiles() in the API to support files from a file picker\n        // or files from your local hard drive\n        // Note: the pose library adds \"tmImage\" object to your window (window.tmImage)\n        model = await tmImage.load(modelURL, metadataURL);\n        maxPredictions = model.getTotalClasses();\n\n        // Convenience function to setup a webcam\n        const flip = true; // whether to flip the webcam\n        webcam = new tmImage.Webcam(200, 200, flip); // width, height, flip\n        await webcam.setup(); // request access to the webcam\n        await webcam.play();\n        window.requestAnimationFrame(loop);\n\n        // append elements to the DOM\n        document.getElementById(\"webcam-container\").appendChild(webcam.canvas);\n        labelContainer = document.getElementById(\"label-container\");\n        for (let i = 0; i < maxPredictions; i++) { // and class labels\n            labelContainer.appendChild(document.createElement(\"div\"));\n        }\n    }\n\n    async function loop() {\n        webcam.update(); // update the webcam frame\n        await predict();\n        window.requestAnimationFrame(loop);\n    }\n\n    // run the webcam image through the image model\n    async function predict() {\n        // predict can take in an image, video or canvas html element\n        const prediction = await model.predict(webcam.canvas);\n        for (let i = 0; i < maxPredictions; i++) {\n            const classPrediction =\n                prediction[i].className + \": \" + prediction[i].probability.toFixed(2);\n            labelContainer.childNodes[i].innerHTML = classPrediction;\n        }\n    }\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":140,"wires":[[]]},{"id":"226ce581.29ed5a","type":"template","z":"95cd962a.59da38","name":"Video-js","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>Teachable Machine Image Model</div>\n<button type=\"button\" onclick=\"init()\">Start</button>\n<div id=\"webcam-container\"></div>\n<div id=\"label-container\"></div>\n<script src=\"https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js\"></script>\n<script src=\"https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js\"></script>\n<script type=\"text/javascript\">\n    // More API functions here:\n    // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/image\n\n    // the link to your model provided by Teachable Machine export panel\n    const URL = \"https://teachablemachine.withgoogle.com/models/xICvkPgUG/\";\n\n    let model, webcam, labelContainer, maxPredictions;\n\n    // Load the image model and setup the webcam\n    async function init() {\n        const modelURL = URL + \"model.json\";\n        const metadataURL = URL + \"metadata.json\";\n\n        // load the model and metadata\n        // Refer to tmImage.loadFromFiles() in the API to support files from a file picker\n        // or files from your local hard drive\n        // Note: the pose library adds \"tmImage\" object to your window (window.tmImage)\n        model = await tmImage.load(modelURL, metadataURL);\n        maxPredictions = model.getTotalClasses();\n\n        // Convenience function to setup a webcam\n        const flip = true; // whether to flip the webcam\n        webcam = new tmImage.Webcam(200, 200, flip); // width, height, flip\n        await webcam.setup(); // request access to the webcam\n        await webcam.play();\n        window.requestAnimationFrame(loop);\n\n        // append elements to the DOM\n        document.getElementById(\"webcam-container\").appendChild(webcam.canvas);\n        labelContainer = document.getElementById(\"label-container\");\n        for (let i = 0; i < maxPredictions; i++) { // and class labels\n            labelContainer.appendChild(document.createElement(\"div\"));\n        }\n    }\n\n    async function loop() {\n        webcam.update(); // update the webcam frame\n        await predict();\n        window.requestAnimationFrame(loop);\n    }\n\n    // run the webcam image through the image model\n    async function predict() {\n        // predict can take in an image, video or canvas html element\n        const prediction = await model.predict(webcam.canvas);\n        for (let i = 0; i < maxPredictions; i++) {\n            const classPrediction =\n                prediction[i].className + \": \" + prediction[i].probability.toFixed(2);\n            labelContainer.childNodes[i].innerHTML = classPrediction;\n        }\n    }\n</script>\n","output":"str","x":720,"y":80,"wires":[[]]},{"id":"aafebde1.6e8d5","type":"debug","z":"95cd962a.59da38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":100,"wires":[]},{"id":"f3f8c674.4d7398","type":"image","z":"95cd962a.59da38","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"outputs":0,"x":1120,"y":480,"wires":[]},{"id":"95aaa00b.53645","type":"file","z":"95cd962a.59da38","name":"","filename":"/home/eugeni/Desktop/git/SmartScooter/Helmet/image.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":750,"y":740,"wires":[[]]},{"id":"e48ec933.1bbf18","type":"change","z":"95cd962a.59da38","name":"","rules":[{"t":"set","p":"chatId","pt":"flow","to":"payload.chatId","tot":"msg"},{"t":"set","p":"type","pt":"flow","to":"payload.type","tot":"msg"},{"t":"set","p":"content","pt":"flow","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":680,"wires":[[]]},{"id":"fe67e486.3035d8","type":"file","z":"95cd962a.59da38","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":830,"y":780,"wires":[[]]},{"id":"e0f80bf4.415e08","type":"function","z":"95cd962a.59da38","name":"COUNT + FILENAME","func":"var count=flow.get('count')||0;\ncount+=1\nflow.set('count',count)\nmsg.filename = '/home/eugeni/Desktop/git/SmartScooter/Helmet/images/image_'+String(count)+'.jpg'\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":780,"wires":[["fe67e486.3035d8"]]},{"id":"dcbd73db.b48ba","type":"teachable machine","z":"95cd962a.59da38","name":"","mode":"online","modelUrl":"https://teachablemachine.withgoogle.com/models/xICvkPgUG/","output":"all","activeThreshold":false,"threshold":"80","activeMaxResults":false,"maxResults":"2","passThrough":true,"x":510,"y":380,"wires":[["39dc8925.df2776","aafebde1.6e8d5"]]},{"id":"39dc8925.df2776","type":"function","z":"95cd962a.59da38","name":"SENDER","func":"var a=msg.payload[0].class + ': '+msg.payload[0].score\nmsg.payload={}\nmsg.payload.content=a\nmsg.payload.chatId=flow.get('chatId')\nmsg.payload.type='message'\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":380,"wires":[["fc16c361.2d5aa","aafebde1.6e8d5","e7d84f6c.77db5"]]},{"id":"639bc629.d16e68","type":"inject","z":"95cd962a.59da38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["c0c25d74.6514a"]]},{"id":"c0c25d74.6514a","type":"http request","z":"95cd962a.59da38","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://loremflickr.com/320/240/head","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":380,"wires":[["dcbd73db.b48ba","f3f8c674.4d7398"]]},{"id":"dbb8b974.c07c18","type":"function","z":"95cd962a.59da38","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer sess_3quryhvtzpp52va3str1_b851ee78f84c6c4bdebb43e1eb27498397897cb53c8519dc';\nmsg.headers['Vehicle'] = 'v_3nj4jkytuxpxqnqtkrk1';\nmsg.url=\"https://api.reby.co/v2/research/ride\"\nif (msg.payload==\"ride\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":1050,"y":280,"wires":[["cfb0868c.01cdc8"]]},{"id":"cfb0868c.01cdc8","type":"http request","z":"95cd962a.59da38","name":"REBY POST","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":240,"wires":[["aafebde1.6e8d5"]]},{"id":"e7d84f6c.77db5","type":"function","z":"95cd962a.59da38","name":"SENDER","func":"if (msg.payload.content.split(\":\")[0]===\"WITH HELMET\"){\n    msg.payload.content=\"Congratulations! We detected your helmet! Now you are able to ride securely. ;)\"\n    msg.payload.voice=\"Welcome \"+msg.originalMessage.from.first_name+\", let's go for a ride!\"\n    return [msg, msg];    \n}\nelse if (msg.payload.content.split(\":\")[0]===\"WITHOUT HELMET\"){\n    msg.payload.content=\"We couldn't detect the helmet! Remember to wear it! \"\n}\nelse{\n    msg.payload.content=\"Nothing was detected. Please try again!\"\n}\nreturn [msg, null];","outputs":2,"noerr":0,"x":900,"y":340,"wires":[["ff87113c.1a328","aafebde1.6e8d5"],["9db22c14.132ba","1f89bf21.b57191"]]},{"id":"ff87113c.1a328","type":"telegram sender","z":"95cd962a.59da38","name":"","bot":"785a4ad7.05a464","x":1150,"y":320,"wires":[[]]},{"id":"7fbd47a9.eeb428","type":"ui_audio","z":"95cd962a.59da38","name":"","group":"57a0f5db.73ba4c","voice":"en-US","always":"","x":1160,"y":420,"wires":[]},{"id":"9db22c14.132ba","type":"change","z":"95cd962a.59da38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.voice","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":380,"wires":[["7fbd47a9.eeb428"]]},{"id":"1f89bf21.b57191","type":"change","z":"95cd962a.59da38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ride","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":280,"wires":[["dbb8b974.c07c18"]]},{"id":"6326a956.a3c528","type":"http request","z":"95cd962a.59da38","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"{{{payload.weblink}}}","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":740,"wires":[["f3f8c674.4d7398","dcbd73db.b48ba"]]},{"id":"22be806c.1ae39","type":"tab","label":"LIGHT_HELMET - LEDS","disabled":false,"info":""},{"id":"95d0131a.2e01b","type":"mqtt in","z":"22be806c.1ae39","name":"","topic":"MQTT/PUB/topic","qos":"2","datatype":"auto","broker":"6ff00cb9.634ae4","x":160,"y":240,"wires":[["d8272872.8e54a8"]]},{"id":"934aa434.39e048","type":"mqtt out","z":"22be806c.1ae39","name":"","topic":"24:6F:28:AF:4F:24/test","qos":"","retain":"","broker":"6ff00cb9.634ae4","x":460,"y":360,"wires":[]},{"id":"d8272872.8e54a8","type":"debug","z":"22be806c.1ae39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":240,"wires":[]},{"id":"1594b168.888a0f","type":"inject","z":"22be806c.1ae39","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["934aa434.39e048"]]},{"id":"81d44e75.af9f9","type":"mqtt in","z":"22be806c.1ae39","name":"","topic":"24:6F:28:AF:4F:24/json","qos":"0","datatype":"json","broker":"6ff00cb9.634ae4","x":180,"y":480,"wires":[["70c0102c.4e55c"]]},{"id":"70c0102c.4e55c","type":"debug","z":"22be806c.1ae39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":480,"wires":[]},{"id":"5dcbd9f1.0f8f18","type":"mqtt in","z":"22be806c.1ae39","name":"","topic":"24:6F:28:AF:4F:24/test","qos":"0","datatype":"auto","broker":"6ff00cb9.634ae4","x":180,"y":580,"wires":[["edb4b57.3729a48"]]},{"id":"edb4b57.3729a48","type":"debug","z":"22be806c.1ae39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":580,"wires":[]},{"id":"e1094650.36e7c8","type":"link in","z":"22be806c.1ae39","name":"","links":[],"x":60,"y":180,"wires":[["934aa434.39e048"]]},{"id":"fedb0d9f.b44f7","type":"tab","label":"LIGHT_PARK","disabled":false,"info":""},{"id":"40ad785a.897028","type":"comment","z":"fedb0d9f.b44f7","name":"VIDEO PREDICTION","info":"","x":300,"y":120,"wires":[]},{"id":"cfbdf7ab.a5efd8","type":"ui_template","z":"fedb0d9f.b44f7","group":"9f4ecd3.c04e93","name":"","order":0,"width":0,"height":0,"format":"<img src=\"{{msg.photo}}\" alt=\"Park\" height=\"100%\" width=\"100%\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":260,"wires":[[]]},{"id":"ab661b26.7a7308","type":"teachable machine","z":"fedb0d9f.b44f7","name":"","mode":"online","modelUrl":"https://teachablemachine.withgoogle.com/models/xICvkPgUG/","output":"all","activeThreshold":true,"threshold":"80","activeMaxResults":true,"maxResults":"1","x":610,"y":180,"wires":[["9c37c6b2.f6e628"]]},{"id":"45c74c15.910144","type":"ui_button","z":"fedb0d9f.b44f7","name":"","group":"9f4ecd3.c04e93","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":180,"wires":[["2efadc91.d362d4"]]},{"id":"8087c0ba.610cb","type":"change","z":"fedb0d9f.b44f7","name":"","rules":[{"t":"set","p":"photo","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[["cfbdf7ab.a5efd8"]]},{"id":"9c37c6b2.f6e628","type":"ui_text","z":"fedb0d9f.b44f7","group":"9f4ecd3.c04e93","order":2,"width":0,"height":0,"name":"","label":"DETECTION","format":"{{msg.payload[0].className}}","layout":"row-spread","x":810,"y":180,"wires":[]},{"id":"ffb84737.312e38","type":"image","z":"fedb0d9f.b44f7","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":600,"y":320,"wires":[]},{"id":"2efadc91.d362d4","type":"camerapi-takephoto","z":"fedb0d9f.b44f7","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":400,"y":180,"wires":[["ab661b26.7a7308","8087c0ba.610cb","ffb84737.312e38"]]},{"id":"1b4d1e74.468ee2","type":"tab","label":"PARKING ZONES","disabled":false,"info":""},{"id":"b0c01b3a.8b5798","type":"inject","z":"1b4d1e74.468ee2","name":"FICHEROS","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["73b635ba.a4666c","3c2a4fa1.81f"]]},{"id":"73b635ba.a4666c","type":"file in","z":"1b4d1e74.468ee2","name":"PARKING ZONES","filename":"Desktop/git/Start-up/Carril bici & others/AparcamentsServeisBicis.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":80,"wires":[["314505e5.35507a"]]},{"id":"314505e5.35507a","type":"xml","z":"1b4d1e74.468ee2","name":"","property":"payload","attr":"","chr":"","x":510,"y":80,"wires":[["b78c7feb.4751"]]},{"id":"b78c7feb.4751","type":"function","z":"1b4d1e74.468ee2","name":"Cleaning Points to JSON","func":"features=[]\npuntos = msg.payload.ajax.search[0].queryresponse[0].list[0].list_items[0].row;\n\ndelete msg.filename;\n\npuntos.forEach(function(part, index) {\n    this[index] = {\"lat\":parseFloat(puntos[index].item[0].gmapx[0]._),\n                    \"lon\":parseFloat(puntos[index].item[0].gmapy[0]._),\n                    \"name\":puntos[index].item[0].address[0]._,\n                    \"icon\": \":parking:\",\n                    \"layer\": \"Parkings\"\n                    } \n},puntos);\n\nflow.set(\"parking-zones\",puntos)\nmsg.payload = puntos\n\nreturn msg;\n\n/*\npuntos.forEach(function(part, index){\n    lat = parseFloat(puntos[index].item[0].gmapx[0]._)\n    lon = parseFloat(puntos[index].item[0].gmapy[0]._)\n    address = puntos[index].item[0].address[0]._\n    \n    \n    feature = {\"type\": \"Feature\",\n                    \"geometry\":{\n                        \"type\":\"Point\",\n                        \"coordinaes\": [lon,lat]}, \n                    \"properties\":{\n                        \"calle\": address\n                        }\n                    }       \n    features.push(feature)\n},features);\n\nvar parking = { \"type\": \"FeatureCollection\",\n                \"features\": [features]\n                }\n\nvar m = {overlay:\"Parkings\", geojson:parking, fit:true};\nmsg.payload = {command:{map:m, lat:41.3887901, lon:2.1589899, \"button\": { \"name\":\"Parking\", \"icon\": \":parking:\", \"position\":\"bottomright\" } }};\nflow.set(\"parking-zones\",msg.payload)\n\nreturn msg;\n*/","outputs":1,"noerr":0,"x":710,"y":80,"wires":[["26030342.6e70fc"]]},{"id":"26030342.6e70fc","type":"debug","z":"1b4d1e74.468ee2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":40,"wires":[]},{"id":"5ab01997.23abc8","type":"function","z":"1b4d1e74.468ee2","name":"Static Points","func":"if (msg.payload.action==\"connected\") {\n    \n    var parkingzones = flow.get(\"parking-zones\");\n    var navigation = flow.get(\"your-navigation\");\n    var pollution = flow.get(\"pollution\");\n    var termemunicipal = flow.get(\"terme-municipal\");\n    var barris = flow.get(\"barris\");\n    \n    \n    send = [termemunicipal,barris,parkingzones,pollution,navigation]\n    \n    var i;\n    for (i = 0; i < send.length; i++) {\n        msg.payload = send[i]\n        node.send(msg)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":500,"wires":[["c97d17b4.b9a668","9be6657c.6b74e8"]]},{"id":"498c966b.35d948","type":"worldmap in","z":"1b4d1e74.468ee2","name":"","path":"/worldmap","events":"all","x":120,"y":400,"wires":[["f1da4de3.ad9"]]},{"id":"c97d17b4.b9a668","type":"ui_worldmap","z":"1b4d1e74.468ee2","group":"c74896c4.64eb18","order":1,"width":22,"height":13,"name":"","lat":"","lon":"","zoom":"10","layer":"Esri","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":700,"y":480,"wires":[]},{"id":"22e5a545.05e3fa","type":"ui_text","z":"1b4d1e74.468ee2","group":"6cfd3fb7.b71db","order":1,"width":0,"height":0,"name":"","label":"Sky","format":"{{msg.payload.Weather.weather.sky}}","layout":"row-center","x":1390,"y":100,"wires":[]},{"id":"21a54b95.5973f4","type":"ui_text","z":"1b4d1e74.468ee2","group":"6cfd3fb7.b71db","order":2,"width":0,"height":0,"name":"","label":"Temperatura","format":"{{msg.payload.Weather.weather.temp}}","layout":"row-center","x":1410,"y":140,"wires":[]},{"id":"37b6b06a.b5077","type":"ui_text","z":"1b4d1e74.468ee2","group":"6cfd3fb7.b71db","order":3,"width":0,"height":0,"name":"","label":"Temperatura Minima","format":"{{msg.payload.Weather.weather.temp_min}}","layout":"row-center","x":1440,"y":220,"wires":[]},{"id":"84d70b26.0520a8","type":"ui_text","z":"1b4d1e74.468ee2","group":"6cfd3fb7.b71db","order":4,"width":0,"height":0,"name":"","label":"Temperatura Maxima","format":"{{msg.payload.Weather.weather.temp_max}}","layout":"row-center","x":1440,"y":260,"wires":[]},{"id":"bd00101d.06e57","type":"ui_text","z":"1b4d1e74.468ee2","group":"6cfd3fb7.b71db","order":5,"width":0,"height":0,"name":"","label":"Presion","format":"{{msg.payload.Weather.weather.pressure}}","layout":"row-center","x":1400,"y":300,"wires":[]},{"id":"f9563381.0912c","type":"ui_text","z":"1b4d1e74.468ee2","group":"6cfd3fb7.b71db","order":6,"width":0,"height":0,"name":"","label":"Humedad","format":"{{msg.payload.Weather.weather.humidity}}","layout":"row-center","x":1400,"y":60,"wires":[]},{"id":"f4602360.77e5b","type":"link in","z":"1b4d1e74.468ee2","name":"","links":["14e8456d.10652b","779351e9.b4099"],"x":1175,"y":200,"wires":[["22e5a545.05e3fa","21a54b95.5973f4","bd171560.84ef28","37b6b06a.b5077","84d70b26.0520a8","bd00101d.06e57","f9563381.0912c"]]},{"id":"bd171560.84ef28","type":"ui_text","z":"1b4d1e74.468ee2","group":"6cfd3fb7.b71db","order":7,"width":0,"height":0,"name":"","label":"Sensación Térmica","format":"{{msg.payload.Weather.weather.feels_like}}","layout":"row-center","x":1430,"y":180,"wires":[]},{"id":"2eb834d0.6f947c","type":"comment","z":"1b4d1e74.468ee2","name":"IMPORTANTE","info":"Poner fichero \"AparcamentsServeisBicis.xml\" dentro de la carpeta data de Nodered","x":350,"y":40,"wires":[]},{"id":"205b9768.c9a288","type":"inject","z":"1b4d1e74.468ee2","name":"APIs","topic":"","payload":"{\"lat\":41.45653,\"lon\":1.69783}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":840,"wires":[["de9fc17b.bcebb"]]},{"id":"818afb1f.513498","type":"http request","z":"1b4d1e74.468ee2","name":"OPENWEATHER","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":740,"wires":[["9c128ba8.19c298"]]},{"id":"1d8c2f79.9c9b61","type":"http request","z":"1b4d1e74.468ee2","name":"AQI ","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":940,"wires":[["f0017d4e.b4bf9"]]},{"id":"11740b1b.d3aee5","type":"comment","z":"1b4d1e74.468ee2","name":"Weather","info":"https://openweathermap.org/current\n\napi.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={your api key}\n\nhttp://api.openweathermap.org/data/2.5/weather?","x":560,"y":700,"wires":[]},{"id":"aad1a74c.a838f8","type":"comment","z":"1b4d1e74.468ee2","name":"Pollution","info":"https://aqicn.org/json-api/doc/\n\nhttps://api.waqi.info/feed/geo:10.3;20.7/?token=demo\n\n//Pollution.url=\"https://api.waqi.info/map/bounds/?latlng=41.456186,2.238331,41.357558,2.113970&token=c9a87c5d0cad7e6e724a0837a1dc0ab6c191245f\"  ","x":560,"y":900,"wires":[]},{"id":"d03ebad7.665838","type":"http request","z":"1b4d1e74.468ee2","name":"YOURS GET","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":840,"wires":[["89294d56.5cafc"]]},{"id":"b36c8f93.53f2","type":"comment","z":"1b4d1e74.468ee2","name":"NAVIGATION API","info":"# API ROUTES\nhttps://wiki.openstreetmap.org/wiki/Routing/online_routers\n\n## YOURS DOCUMENTATION\nhttps://wiki.openstreetmap.org/wiki/YOURS\n\n\n","x":580,"y":800,"wires":[]},{"id":"de9fc17b.bcebb","type":"function","z":"1b4d1e74.468ee2","name":"set payload and headers","func":"var Weather = {}\nvar Navigation = {}\nvar Pollution = {}\n\nObject.assign(Weather, msg);\nObject.assign(Navigation, msg);\nObject.assign(Pollution, msg);\n\nmylat = global.get(\"actual_user\").route.PointA.lat||msg.payload.lat;\nmylon = global.get(\"actual_user\").route.PointA.lon||msg.payload.lon;\notherlat = global.get(\"actual_user\").route.PointB.lon||41.3887901\notherlon = global.get(\"actual_user\").route.PointB.lon||2.1589899\n\n\nWeather.url = \"http://api.openweathermap.org/data/2.5/weather?appid=c9acde17731d1859e92b163fcc54aaa4&\"+\n\"lat=\"+mylat+\"&lon=\"+mylon+\"&units=metric\"\n\n\nNavigation.url= \"http://www.yournavigation.org/api/1.0/gosmore.php?format=kml&\"+\"flat=\"+mylat+\"&flon=\"+mylon+\"&tlat=\"+otherlat+\"&tlon=\"+otherlon+\"&v=bicycle&fast=1&layer=mapnik&instructions=1\"\n\n\n\nPollution.url=\"https://api.waqi.info/map/bounds/?latlng=41.456186,2.238331,41.357558,2.113970&token=c9a87c5d0cad7e6e724a0837a1dc0ab6c191245f\"  \n  \n \nreturn [Weather, Navigation, Pollution];\n\n\n\n\n\n\n","outputs":3,"noerr":0,"x":370,"y":840,"wires":[["818afb1f.513498"],["d03ebad7.665838"],["1d8c2f79.9c9b61"]]},{"id":"c128a359.f68e5","type":"debug","z":"1b4d1e74.468ee2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":800,"wires":[]},{"id":"967b9514.037618","type":"debug","z":"1b4d1e74.468ee2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":900,"wires":[]},{"id":"f0017d4e.b4bf9","type":"json","z":"1b4d1e74.468ee2","name":"","property":"payload","action":"","pretty":false,"x":850,"y":940,"wires":[["6a83ff6f.c0d44","967b9514.037618"]]},{"id":"bfc93bb3.a7f898","type":"debug","z":"1b4d1e74.468ee2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":780,"wires":[]},{"id":"9c128ba8.19c298","type":"json","z":"1b4d1e74.468ee2","name":"","property":"payload","action":"","pretty":false,"x":850,"y":740,"wires":[["543f7082.b53a2","52768bd3.b882c4"]]},{"id":"89294d56.5cafc","type":"xml","z":"1b4d1e74.468ee2","name":"","property":"payload","attr":"","chr":"","x":850,"y":840,"wires":[["2b274417.12e10c","c128a359.f68e5"]]},{"id":"543f7082.b53a2","type":"function","z":"1b4d1e74.468ee2","name":"API to JSON","func":"datos = {\"Weather\":\n              {\"geo\":{\"lat\":msg.payload.coord.lat,\"lon\":msg.payload.coord.lon},\n                \"name\":msg.payload.name,\n                \"weather\": {\n                    \"sky\":msg.payload.weather[0].main + \". \" + msg.payload.weather[0].description,\n                    \"temp\":msg.payload.main.temp,\n                    \"feels_like\":msg.payload.main.feels_like,\n                    \"temp_min\":msg.payload.main.temp_min,\n                    \"temp_max\":msg.payload.main.temp_max,\n                    \"pressure\":msg.payload.main.pressure,\n                    \"humidity\":msg.payload.main.humidity,\n                    \"wind\":{\"speed\":msg.payload.wind.speed,\"deg\":msg.payload.wind.deg}\n                },\n                \"sunrise\":msg.payload.sys.sunrise,\n                \"sunset\":msg.payload.sys.sunset\n                \n              },\n        \n        }\nflow.set(\"weather\",datos)\nmsg.payload = datos\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.redirectList;\ndelete msg.statusCode;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":740,"wires":[["bfc93bb3.a7f898","779351e9.b4099"]]},{"id":"6a83ff6f.c0d44","type":"function","z":"1b4d1e74.468ee2","name":"API to JSON","func":"datos = msg.payload.data\n\ndatos.forEach(function(part, index) {\n    aqi = parseInt(datos[index].aqi);\n    if (aqi<50){color = \"#0FA947\"}\n    else if(51<aqi<100){color = \"#E7F513\"}\n    else if(101<aqi<150){color = \"##F5AD13\"}\n    else if(151<aqi<200){color = \"#F51354\"}\n    else if(201<aqi<300){color = \"#9C13F5\"}\n    else if(300<aqi){color = \"#A40C48\"}\n    else{color = \"#FFFFFF\"}\n \n    this[index] = {\"lat\":datos[index].lat,\n                    \"lon\":datos[index].lon,\n                    \"popup\":\"AQI:\"+aqi,\n                    \"name\":datos[index].station.name,\n                    \"radius\": 1850,\n                    \"color\": color,\n                    \"fillColor\": color,\n                    \"fillOpacity\": 0.1,\n                    \"layer\": \"Pollution\",\n                    \"clickable\":true\n                } \n},datos);\n\nflow.set(\"pollution\",datos)\nmsg.payload = datos\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.redirectList;\ndelete msg.statusCode;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":940,"wires":[["d17055df.c81a88"]]},{"id":"d17055df.c81a88","type":"debug","z":"1b4d1e74.468ee2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":980,"wires":[]},{"id":"52768bd3.b882c4","type":"debug","z":"1b4d1e74.468ee2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":700,"wires":[]},{"id":"779351e9.b4099","type":"link out","z":"1b4d1e74.468ee2","name":"","links":["f4602360.77e5b"],"x":1255,"y":740,"wires":[]},{"id":"9be6657c.6b74e8","type":"debug","z":"1b4d1e74.468ee2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":420,"wires":[]},{"id":"3c2a4fa1.81f","type":"file in","z":"1b4d1e74.468ee2","name":"Terme Municipal","filename":"Desktop/git/Start-up/Carril bici & others/terme-municipal.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":200,"wires":[["369f5d23.6fa8c2"]]},{"id":"369f5d23.6fa8c2","type":"json","z":"1b4d1e74.468ee2","name":"","property":"payload","action":"","pretty":false,"x":510,"y":200,"wires":[["2bc1702e.2266"]]},{"id":"bf92003.8c768","type":"debug","z":"1b4d1e74.468ee2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":240,"wires":[]},{"id":"2bc1702e.2266","type":"function","z":"1b4d1e74.468ee2","name":"Cleaning points to JSON","func":"areas = msg.payload.features[0].geometry.coordinates\n\nvar termemunicipal = { \"type\": \"FeatureCollection\",\n\"features\": [\n  {\n    \"type\": \"Feature\",\n    \"properties\": {\n        \"style\":{\n      \"color\": \"rgb(0,0,0)\",\n      \"fill\": \"\",\n      \"fill-opacity\": 0.0,\n        },\n        \"Zona\": \"Terme Municipal de Barcelona\"\n    },\n    \"geometry\": {\n      \"type\": \"MultiPolygon\",\n      \"coordinates\": areas\n    }\n  }\n]\n}\n\nvar m = {overlay:\"Terme Municipal\", geojson:termemunicipal, fit:true};\nmsg.payload = {command:{map:m, lat:41.3887901, lon:2.1589899, hidelayer: \"Terme Municipal\"}};\nflow.set(\"terme-municipal\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["bf92003.8c768"]]},{"id":"2b274417.12e10c","type":"function","z":"1b4d1e74.468ee2","name":"API to JSON","func":"var boundary = msg.payload.kml.Document[0].Folder[0].Placemark[0].LineString[0].coordinates[0]\nboundary = boundary.substring(7);\n\nvar points = boundary.split(\"\\n\");\npoints.shift()\npoints.pop()\n\n\npoints.forEach(function(part, index) {\n  this[index] = points[index].split(\",\");\n  this[index] = this[index].map(Number)\n}, points); // use arr as this\n\n\n // Change lat lon position\npoints.forEach(function(part, index) { \n    var lat = points[index][0]    \n    var lon = points[index][1]\n    points[index][0] = lon,    \n    points[index][1] = lat\n}, points);\n\n\ndelete msg.headers\ndelete msg.url\ndelete msg.statusCode\ndelete msg.responseUrl\ndelete msg.redirectList\n\nvar ruta = { name:\"Your navigation\",\n            color: \"#53eb31\",\n            \"line\":[points],\n            \"layer\":\"Navigation\"\n}\n\nflow.set(\"your-navigation\", ruta)\nmsg.payload = ruta\nreturn msg;\n","outputs":1,"noerr":0,"x":1070,"y":840,"wires":[["fd6c1bfb.16f358"]]},{"id":"fd6c1bfb.16f358","type":"debug","z":"1b4d1e74.468ee2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":880,"wires":[]},{"id":"7b227178.1fe35","type":"function","z":"1b4d1e74.468ee2","name":"Dynamic Points","func":"\nif (msg.payload.action==\"connected\") {\n    \nvar delayInMilliseconds = 3000; //1 second\nvar navigation = flow.get(\"your-navigation\");\nvar index = 0;\npoints = navigation.line[0]\n\nPointRun = setInterval(send_coordinates,delayInMilliseconds)\n\n}\nelse\n{\n    clearInterval(PointRun)\n    \n}\n\n\nfunction send_coordinates()\n    {\n\n        if (index <= points.length) \n        {\n            lat = points[index][0];\n            lon = points[index][1];\n        \n            msg.payload={\"lat\":lat,\n                        \"lon\":lon,\n                        \"name\":\"Ferran\",\n                        \"icon\": \":pig2:\",\n                        \"layer\": \"Navigation\",\n                        \"size\":25\n                        } \n            node.send(msg)\n            index = index + 1\n        }\n      \n    \n}\n\n\n","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["c97d17b4.b9a668"]]},{"id":"d303798f.369da8","type":"inject","z":"1b4d1e74.468ee2","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":1120,"wires":[["473985be.bef01c"]]},{"id":"4656fa02.0d8964","type":"http request","z":"1b4d1e74.468ee2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":1120,"wires":[["e0b425b9.d41b58"]]},{"id":"e0b425b9.d41b58","type":"json","z":"1b4d1e74.468ee2","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1120,"wires":[["4d7263d7.d46bdc","a4b46526.f451f8"]]},{"id":"4d7263d7.d46bdc","type":"debug","z":"1b4d1e74.468ee2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1120,"wires":[]},{"id":"473985be.bef01c","type":"function","z":"1b4d1e74.468ee2","name":"FREEGEOIP","func":"msg.url = \"https://freegeoip.app/json/\"\n\nmsg.headers = {\n    'accept': \"application/json\",\n    'content-type': \"application/json\"\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1120,"wires":[["4656fa02.0d8964"]]},{"id":"9b3141d1.475e3","type":"comment","z":"1b4d1e74.468ee2","name":"GET IP AND LOCATION","info":"https://freegeoip.app/","x":210,"y":1080,"wires":[]},{"id":"63f10250.81184c","type":"inject","z":"1b4d1e74.468ee2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1240,"wires":[["af92b652.716ca8"]]},{"id":"ce78f591.44adc8","type":"http request","z":"1b4d1e74.468ee2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":1240,"wires":[["b154a23a.08b18"]]},{"id":"b154a23a.08b18","type":"json","z":"1b4d1e74.468ee2","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1240,"wires":[["37d62892.bcaad8","e5022510.42f628"]]},{"id":"37d62892.bcaad8","type":"debug","z":"1b4d1e74.468ee2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":1240,"wires":[]},{"id":"af92b652.716ca8","type":"function","z":"1b4d1e74.468ee2","name":"MAPQUEST","func":"msg.url = \"http://www.mapquestapi.com/geocoding/v1/address?key=wywJKJA9aLXdQeykyaCotBbG9HkSvuI0&location=\"+msg.payload\n\nmsg.headers = {\n    'accept': \"application/json\",\n    'content-type': \"application/json\"\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1240,"wires":[["ce78f591.44adc8"]]},{"id":"499d09a4.6a19c8","type":"comment","z":"1b4d1e74.468ee2","name":"MAPQUEST GEOCODE","info":"https://developer.mapquest.com/documentation/geocoding-api/address/get/","x":210,"y":1200,"wires":[]},{"id":"250427f9.962388","type":"ui_text_input","z":"1b4d1e74.468ee2","name":"","label":"POINT A","tooltip":"","group":"e67c1364.48da2","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pointA","x":480,"y":1360,"wires":[["465f40c5.4b55f"]]},{"id":"e52d7b68.1df218","type":"ui_text_input","z":"1b4d1e74.468ee2","name":"","label":"POINT B","tooltip":"","group":"e67c1364.48da2","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pointB","x":480,"y":1420,"wires":[["465f40c5.4b55f"]]},{"id":"3689a988.21bb66","type":"ui_button","z":"1b4d1e74.468ee2","name":"","group":"e67c1364.48da2","order":4,"width":0,"height":0,"passthru":false,"label":"SEARCH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":940,"wires":[["de9fc17b.bcebb"]]},{"id":"a4b46526.f451f8","type":"function","z":"1b4d1e74.468ee2","name":"SET USER IP AND LOCATION","func":"var user=global.get(\"actual_user\")\nvar users=global.get(\"users\")\n\nif (user){\n        user.geoip=msg.payload\n        global.set(\"actual_user\",user)\n        users[user.username]=user\n        global.set(\"users\",users)\n        global.set(\"mygeoip\",undefined)\n}\nelse{\n    global.set(\"mygeoip\", msg.payload)\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1160,"wires":[[]]},{"id":"e5022510.42f628","type":"function","z":"1b4d1e74.468ee2","name":"SET POINT-A AND POINT-B","func":"var user= global.get(\"actual_user\")\nvar users=global.get(\"users\")\nif (user){\n    user.route={\n        \"PointA\":{\n            \"lat\":user.geoip.lat,\n            \"lon\":user.geoip.lon\n        },\n        \"PointB\":{\n            \"lat\":user.geoip.lat,\n            \"lon\":user.geoip.lon\n        }\n    }\n    if (msg.topic==\"pointA\"){\n        user.route.PointA.lat=msg.payload.results[0].locations[0].latLng.lat\n        user.route.PointA.lon=msg.payload.results[0].locations[0].latLng.lng\n    }\n    else if (msg.topic==\"pointB\"){\n        user.route.PointB.lat=msg.payload.results[0].locations[0].latLng.lat\n        user.route.PointB.lon=msg.payload.results[0].locations[0].latLng.lng\n    }\n}\nglobal.set(\"actual_user\",user)\nusers[user.username]=user\nglobal.set(\"users\",users)\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1280,"wires":[[]]},{"id":"2e796edb.b2c822","type":"link in","z":"1b4d1e74.468ee2","name":"","links":["899d8041.e0bed","465f40c5.4b55f"],"x":235,"y":1280,"wires":[["af92b652.716ca8"]]},{"id":"a3876ec8.8e7b8","type":"ui_button","z":"1b4d1e74.468ee2","name":"","group":"e67c1364.48da2","order":1,"width":0,"height":0,"passthru":false,"label":"Use current position","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":120,"y":1400,"wires":[["8b648058.10c8f"]]},{"id":"465f40c5.4b55f","type":"link out","z":"1b4d1e74.468ee2","name":"","links":["2e796edb.b2c822"],"x":635,"y":1380,"wires":[]},{"id":"8b648058.10c8f","type":"function","z":"1b4d1e74.468ee2","name":"SETTING CURRENT POSITION","func":"msg.enabled=msg.payload\nvar user= global.get(\"actual_user\")\nvar users=global.get(\"users\")\nuser.route.PointA={\n    \"lat\":user.geoip.latitude,\n    \"lon\":user.geoip.longitude\n}\nglobal.set(\"actual_user\",user)\nusers[user.username]=user\nglobal.set(\"users\",users)\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1360,"wires":[["250427f9.962388"]]},{"id":"e9956467.16c6a8","type":"ui_button","z":"1b4d1e74.468ee2","name":"","group":"e67c1364.48da2","order":1,"width":0,"height":0,"passthru":false,"label":"Type a new initial position","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":150,"y":1440,"wires":[["8b648058.10c8f"]]},{"id":"f1da4de3.ad9","type":"trigger","z":"1b4d1e74.468ee2","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"-1","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":210,"y":460,"wires":[["7b227178.1fe35","5ab01997.23abc8"]]},{"id":"d7870ef4.4f473","type":"tab","label":"LIGHT_TL","disabled":false,"info":""},{"id":"3fe39ec1.744ec2","type":"inject","z":"d7870ef4.4f473","name":"FICHEROS","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["af88f3dc.8ab71"]]},{"id":"af88f3dc.8ab71","type":"file in","z":"d7870ef4.4f473","name":"SEMAFORS","filename":"Desktop/git/Start-up/Carril bici & others/Infraestructures_Inventari_Semafors.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":160,"wires":[["66e53ddf.89fe14"]]},{"id":"1ce455a6.97c71a","type":"debug","z":"d7870ef4.4f473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":220,"wires":[]},{"id":"e82a2521.5b6fe8","type":"comment","z":"d7870ef4.4f473","name":"IMPORTANTE","info":"Poner fichero \"AparcamentsServeisBicis.xml\" dentro de la carpeta data de Nodered","x":370,"y":120,"wires":[]},{"id":"66e53ddf.89fe14","type":"csv","z":"d7870ef4.4f473","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"comma-separated","skip":"0","strings":true,"x":480,"y":200,"wires":[["672d675c.fc8eb8"]]},{"id":"cfebbaf2.ebf198","type":"function","z":"d7870ef4.4f473","name":"Cleaning Points and doing JSON","func":"semafors = []\nsemafors_all=[]\npuntos = msg.payload;\n\npuntos.forEach(function(part, index){\n    lat = puntos[index].Latitud //we take it all\n    lon = puntos[index].Longitud\n    ID = puntos[index].ID_Semafor\n    Codi = puntos[index].Codi_Semafor\n    \n    msg.payload = {\"lat\":String(lat), \"lon\":String(lon),\"name\":String(ID), \"icon\":\"traffic\"}\n    if (semafors.length<=1500){\n    semafors.push(msg.payload)    \n    }\n    semafors_all.push(msg.payload)\n    //node.send(msg)\n},puntos);\n\nflow.set(\"semafors\",semafors)\nflow.set(\"all_semafors\",semafors_all)\nmsg.payload = semafors\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["1ce455a6.97c71a"]]},{"id":"549ae3fe.8eea4c","type":"function","z":"d7870ef4.4f473","name":"SEMAFORS","func":"Navigation={}\nSemafors={}\nSemafor={}\nSemafors_ruta={}\nif (msg.payload.action==\"connected\") {\n    Object.assign(Navigation, msg);\n    var navigation = flow.get(\"Your_navigation\");\n    Navigation.payload = navigation;\n    \n    Object.assign(Semafors, msg);\n    var semafors = flow.get(\"semafors\");\n    Semafors.payload = semafors;\n    \n    Object.assign(Semafor, msg);\n    var semafor = flow.get(\"semafor_proper\");\n    Semafor.payload = semafor;\n    \n    Object.assign(Semafors_ruta, msg);\n    var semafors_ruta = flow.get(\"semafors_ruta\");\n    Semafors_ruta.payload = semafors_ruta;\n\nreturn [Navigation, Semafors, Semafor, Semafors_ruta];\n}   \n\n","outputs":4,"noerr":0,"x":330,"y":800,"wires":[["26673e.ce8028c2"],[],[],[]]},{"id":"ca5b98dd.39a148","type":"worldmap in","z":"d7870ef4.4f473","name":"","path":"/semafors","events":"all","x":130,"y":800,"wires":[["549ae3fe.8eea4c"]]},{"id":"26673e.ce8028c2","type":"ui_worldmap","z":"d7870ef4.4f473","group":"ca1e5cae.3bdef","order":1,"width":17,"height":13,"name":"","lat":"41.3887901","lon":"2.1589899","zoom":"12","layer":"Esri","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/semafors","x":540,"y":800,"wires":[]},{"id":"672d675c.fc8eb8","type":"change","z":"d7870ef4.4f473","name":"Cleaning","rules":[{"t":"delete","p":"filename","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":240,"wires":[["cfebbaf2.ebf198"]]},{"id":"fcf4672a.56fe88","type":"function","z":"d7870ef4.4f473","name":"DISTANCE CALCULATION - HAVERSINE FORMULA","func":"function toRad(Value) {\n    /** Converts numeric degrees to radians */\n    return Value * Math.PI / 180;\n}\n//var punt=flow.get(\"point\")||0;\nvar puntos=flow.get(\"all_semafors\")\nvar R = 6371e3; // metres\nvar ruta=flow.get('ruta')\nvar ind=0\nvar min=1000\nvar d=0\n\nruta.forEach(function(part,index1){\npuntos.forEach(function(part, index2){\n    var lat2 = ruta[index1][0];\n    var lon2 = ruta[index1][1];\n    var φ1 = toRad(puntos[index2].lat);\n    var φ2 = toRad(lat2);\n    var Δφ = toRad(lat2-puntos[index2].lat);\n    var Δλ = toRad(lon2-puntos[index2].lon);\n    var a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +\n        Math.cos(φ1) * Math.cos(φ2) *\n        Math.sin(Δλ/2) * Math.sin(Δλ/2);\n    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n    d = R * c;\n    if (d<min){\n        ind=index2\n        min=d\n    }\n},puntos);\n\n    ruta[index1].push(puntos[ind].lat)\n    ruta[index1].push(puntos[ind].lon)\n    \n},ruta);\n\nflow.set(\"ruta\",ruta)\nmsg.distance = min.toFixed(3);\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":620,"wires":[["e6eba93c.c28b88","549ae3fe.8eea4c"]]},{"id":"3f7e5ea0.91d492","type":"inject","z":"d7870ef4.4f473","name":"APIs","topic":"","payload":"{\"lat\":41.410600,\"lon\":  2.149291}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["1026d2c.397212d"]]},{"id":"abe14395.ffdfc","type":"http request","z":"d7870ef4.4f473","name":"YOURS GET","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":440,"wires":[["13785f74.22d111"]]},{"id":"1026d2c.397212d","type":"function","z":"d7870ef4.4f473","name":"set payload and headers","func":"var Navigation = {}\n\nObject.assign(Navigation, msg);\n\nmylat = msg.payload.lat;\nmylon = msg.payload.lon;\notherlat = 41.3887901\notherlon = 2.1589899\n\nNavigation.url= \"http://www.yournavigation.org/api/1.0/gosmore.php?format=kml&flat=\"+String(mylat)+\"&flon=\"+String(mylon)+\"&tlat=\"+String(otherlat)+\"&tlon=\"+String(otherlon)+\"&v=motorcar&fast=1&layer=mapnik&instructions=1\"\nNavigation.header={}\nNavigation.header[\"X-Yours-client\"]=\"Eugenill\"\n\nreturn  Navigation;\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["abe14395.ffdfc"]]},{"id":"13785f74.22d111","type":"xml","z":"d7870ef4.4f473","name":"","property":"payload","attr":"","chr":"","x":70,"y":480,"wires":[["10793604.f5a18a","f0edc2f6.b46bd","41eef6c2.14e8d8"]]},{"id":"10793604.f5a18a","type":"change","z":"d7870ef4.4f473","name":"Cleaning Folders","rules":[{"t":"move","p":"payload.kml.Document[0].Folder[0].Placemark[0].LineString[0].coordinates[0]","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload.kml.Document[0].Folder[0]","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":480,"wires":[["88cf563b.f613f8"]]},{"id":"85095b0c.8b5e98","type":"function","z":"d7870ef4.4f473","name":"insert RUTAS","func":"points = msg.payload\npoints.forEach(function(part, index) { \n    var lat = points[index][0]    \n    var lon = points[index][1]\n    points[index][0] = lon,    \n    points[index][1] = lat\n},points);\n\nruta = {\n    name:\"Your navigation\",\n    color:\"#53eb31\",\n    \"line\": [points]}\n\nflow.set(\"ruta\",ruta.line[0])\nflow.set(\"Your_navigation\", ruta)\nmsg.payload = ruta\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":480,"wires":[[]]},{"id":"88cf563b.f613f8","type":"split","z":"d7870ef4.4f473","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":480,"wires":[["74915ef3.3a18a"]]},{"id":"74915ef3.3a18a","type":"split","z":"d7870ef4.4f473","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":480,"wires":[["4018c779.4d4a38"]]},{"id":"4018c779.4d4a38","type":"join","z":"d7870ef4.4f473","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":480,"wires":[["332b8810.10ec18"]]},{"id":"332b8810.10ec18","type":"join","z":"d7870ef4.4f473","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":770,"y":480,"wires":[["85095b0c.8b5e98"]]},{"id":"f0edc2f6.b46bd","type":"debug","z":"d7870ef4.4f473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.kml.Document[0].Folder[0].Placemark[0].LineString[0].coordinates[0]","targetType":"msg","x":410,"y":520,"wires":[]},{"id":"41eef6c2.14e8d8","type":"debug","z":"d7870ef4.4f473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":200,"y":560,"wires":[]},{"id":"e6eba93c.c28b88","type":"debug","z":"d7870ef4.4f473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":660,"wires":[]},{"id":"b210830.cf1348","type":"inject","z":"d7870ef4.4f473","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":620,"wires":[["fcf4672a.56fe88"]]},{"id":"5a7dbae.d9e3144","type":"function","z":"d7870ef4.4f473","name":"SET SEMAFORS_RUTA","func":"function toRad(Value) {\n    /** Converts numeric degrees to radians */\n    return Value * Math.PI / 180;\n}\nvar R = 6371e3; // metres\nvar ruta=flow.get('ruta')\nvar semafors_ruta=[]\nvar ind=0\nvar min=1000\nvar d=0\nruta.forEach(function(part, index){\n    var lat2 = ruta[index][0] //hem de canviar aquest valor per la nostra posicio GPS\n    var lon2 = ruta[index][1]\n    var φ1 = toRad(ruta[index][2]);\n    var φ2 = toRad(lat2);\n    var Δφ = toRad(lat2-ruta[index][2]);\n    var Δλ = toRad(lon2-ruta[index][3]);\n    var a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +\n        Math.cos(φ1) * Math.cos(φ2) *\n        Math.sin(Δλ/2) * Math.sin(Δλ/2);\n    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n    d = R * c;\n    if (d<min){\n        ind=index\n        min=d\n    }\n    semafors_ruta.push({\"lat\":ruta[index][2], \"lon\":ruta[index][3], \"name\": String(index)})\n},ruta);\n\nflow.set(\"semafor_proper\",semafors_ruta[ind])\nflow.set(\"semafors_ruta\", semafors_ruta)\nmsg.distance = min.toFixed(3);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":680,"wires":[[]]},{"id":"3a093f9.6fafcc","type":"inject","z":"d7870ef4.4f473","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":680,"wires":[["5a7dbae.d9e3144"]]},{"id":"55467c50.57a5c4","type":"ui_group","z":"","name":"REBY_CONTROL","tab":"76641b4d.54d164","order":2,"disp":false,"width":"16","collapse":false},{"id":"780adb4c.e1f2d4","type":"ui_group","z":"","name":"TRAFFIC_LIGHT","tab":"35c0940e.a5253c","order":1,"disp":false,"width":"15","collapse":false},{"id":"6ff00cb9.634ae4","type":"mqtt-broker","z":"","name":"prueba","broker":"localhost","port":"1883","clientid":"clientId-wn07IVoIs8","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"acbacb51.bd8f38","type":"ui_group","z":"","name":"RUN-STOP","tab":"266fa4e0.06c9cc","order":1,"disp":false,"width":"13","collapse":false},{"id":"785a4ad7.05a464","type":"telegram bot","z":"","botname":"Light_ss_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"57a0f5db.73ba4c","type":"ui_group","z":"","name":"Light_HELMET","tab":"e8026007.1917f","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f4ecd3.c04e93","type":"ui_group","z":"","name":"Image","tab":"803333aa.4b36e","order":1,"disp":true,"width":"6","collapse":false},{"id":"c74896c4.64eb18","type":"ui_group","z":"","name":"Parkings","tab":"7027ffa6.f90a4","order":1,"disp":true,"width":"25","collapse":false},{"id":"6cfd3fb7.b71db","type":"ui_group","z":"","name":"Weather","tab":"7027ffa6.f90a4","order":2,"disp":true,"width":"6","collapse":false},{"id":"e67c1364.48da2","type":"ui_group","z":"","name":"Search","tab":"7027ffa6.f90a4","order":3,"disp":true,"width":"6","collapse":false},{"id":"ca1e5cae.3bdef","type":"ui_group","z":"","name":"MAP","tab":"c3f7e666.fb9298","order":1,"disp":true,"width":"17","collapse":false},{"id":"76641b4d.54d164","type":"ui_tab","z":"","name":"HOME","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"35c0940e.a5253c","type":"ui_tab","z":"","name":"TL_INFERENCE ","icon":"traffic","order":2,"disabled":false,"hidden":false},{"id":"266fa4e0.06c9cc","type":"ui_tab","z":"","name":"CONE_INFERENCE","icon":"warning","order":4,"disabled":false,"hidden":false},{"id":"e8026007.1917f","type":"ui_tab","z":"","d":true,"name":"HELMET","icon":"fa-unlock-alt","order":6,"disabled":false,"hidden":false},{"id":"803333aa.4b36e","type":"ui_tab","z":"","d":true,"name":"PARK","icon":"local_parking","order":7,"disabled":false,"hidden":false},{"id":"7027ffa6.f90a4","type":"ui_tab","z":"","d":true,"name":"Parkings","icon":"Home","order":16,"disabled":false,"hidden":false},{"id":"c3f7e666.fb9298","type":"ui_tab","z":"","d":true,"name":"SEMAFOR","icon":"dashboard","order":17,"disabled":false,"hidden":false}]